Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[tests] Change `now-php` to `vercel-php` (#4710)
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @styfle, @AndyBitz, @TooTallNate

[go] Implement `startDevServer()` function (#4662)
  .editorconfig
  packages/now-cli/test/dev/fixtures/go/.gitignore
  packages/now-cli/test/dev/fixtures/go/api/[segment].go
  packages/now-cli/test/dev/fixtures/go/api/another.go
  packages/now-cli/test/dev/fixtures/go/api/index.go
  packages/now-cli/test/dev/integration.js
  packages/now-go/build.sh
  packages/now-go/dev-server.go
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/main.go
  packages/now-go/main__mod__.go
  packages/now-go/package.json
Owners: @TooTallNate, @styfle

[next] Memoize lstating files (#4712)
  packages/now-next/src/index.ts
Owners: @Timer, @ijjk

add source prop when deploying (#4701)
  packages/now-cli/src/util/index.js
  packages/now-client/src/types.ts
Owners: @TooTallNate, @rdev, @styfle

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk

[cli] Fix `vc dev` serving pure static dot files (#4714)
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/00-list-directory/.well-known/keybase.txt
  packages/now-cli/test/dev/fixtures/public-and-api/public/.well-known/humans.txt
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
Owners: @TooTallNate, @styfle, @AndyBitz, @rdev

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @TooTallNate, @rdev, @styfle

[cli] Use the configured "Output Directory" from project's settings in `vc dev` (#4715)
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-static-build/src/index.ts
Owners: @TooTallNate, @styfle, @AndyBitz

[static-build] Fix error handling for unexpected output directory (#4727)
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/.gitignore
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/README.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/blog/2019-05-28-hola.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/blog/2019-05-29-hello-world.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/blog/2019-05-30-welcome.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/doc1.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/doc2.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/doc3.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/mdx.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docusaurus.config.js
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/now.json
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/package.json
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/sidebars.js
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/src/css/custom.css
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/src/pages/index.js
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/src/pages/styles.module.css
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/favicon.ico
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/logo.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/undraw_docusaurus_mountain.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/undraw_docusaurus_react.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/undraw_docusaurus_tree.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/yarn.lock
  packages/now-static-build/test/integration.test.js
  test/lib/deployment/now-deploy.js
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @styfle, @AndyBitz

Update "description" in `package.json` for Vercel (#4735)
  packages/now-cli/package.json
Owners: @TooTallNate

[frameworks] Fix build command placeholder `nuxt generate` (#4737)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

[@vercel/build-utils] Cache `.cache` for Eleventy (#4743)
  packages/now-static-build/src/frameworks.ts
Owners: @styfle, @AndyBitz

Publish Canary
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @TooTallNate, @styfle

Publish Stable
  packages/now-static-build/package.json
Owners: @styfle, @AndyBitz

[node] Set the TypeScript "target" in `vc dev` (#4728)
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/array.js
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/subclass.js
  packages/now-cli/test/dev/fixtures/node-ts-node-target/package.json
  packages/now-cli/test/dev/fixtures/node-ts-node-target/tsconfig.json
  packages/now-cli/test/dev/fixtures/node-ts-node-target/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-node/src/dev-server.ts
Owners: @TooTallNate, @styfle, @lucleray

[cli] Revert "Remove caching of `vercel.json` config in `vc dev`" (#4749)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @styfle, @lucleray, @AndyBitz

[next] Fix dynamic route mapping with shared lambdas (#4740)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/00-shared-lambdas/now.json
  packages/now-next/test/fixtures/00-shared-lambdas/package.json
  packages/now-next/test/fixtures/00-shared-lambdas/pages/[teamSlug]/[project]/[id].js
  packages/now-next/test/fixtures/00-shared-lambdas/pages/groups/[id].js
  packages/now-next/test/fixtures/00-shared-lambdas/pages/teams/invite/[inviteCode].js
  packages/now-next/test/fixtures/07-custom-routes/next.config.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/next.config.js
  packages/now-next/test/fixtures/13-export-custom-routes/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/.gitignore
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/package.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/a/catch-all.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/another/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/dynamic/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/catchall-dash/[...hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/dash/[hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/docs/v2/more/now-for-github.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello-again.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/multi-rewrites.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nav.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/redirect-override.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/with-params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/blog/data.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/static/hello.txt
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli] Pin `@vercel/static-build` to v0.17.5-canary.0 (#4751)
  packages/now-cli/package.json
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[next] Add additiontal test cases for basePath support (#4747)
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/16-base-path/pages/api/[slug]/another.js
  packages/now-next/test/fixtures/16-base-path/pages/api/[slug]/index.js
  packages/now-next/test/fixtures/16-base-path/pages/api/hello.js
  packages/now-next/test/fixtures/16-base-path/pages/blog/[post]/comments.js
  packages/now-next/test/fixtures/16-base-path/pages/blog/[post]/index.js
Owners: @Timer, @ijjk

[next] Skip Lambda Deployment for Static Sites (#4748)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/05-spr-support/pages/api/noop.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/api/noop.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/api/noop.js
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/static-site/package.json
  packages/now-next/test/integration/static-site/pages/another.js
  packages/now-next/test/integration/static-site/pages/dynamic.js
  packages/now-next/test/integration/static-site/pages/index.js
  packages/now-next/test/integration/static-site/vercel.json
Owners: @Timer, @ijjk

Regenerate `yarn.lock` file (#4769)
  yarn.lock
Owners: @TooTallNate

Add Lockfile to Fix Gatsby Example (#4771)
  examples/gatsby/yarn.lock
Owners: @mcsdevv, @timothyis

[cli] Reduce number of times `getNowConfig()` is invoked in `vercel dev` (#4760)
  package.json
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz

[next] Use correct data route regex (#4778)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/21-server-props/package.json
  packages/now-next/test/fixtures/21-server-props/pages/another.js
  packages/now-next/test/fixtures/21-server-props/pages/another2.js
  packages/now-next/test/fixtures/21-server-props/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/21-server-props/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/21-server-props/pages/forever.js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[client] Add `@vercel/build-utils` as a "dependency" (#4804)
  packages/now-client/package.json
Owners: @rdev, @styfle, @TooTallNate

[cli] Print a warning if both "functions" and "builds" are defined in `vercel.json` in `vercel dev` (#4795)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/test/dev-validate.unit.js
  packages/now-cli/test/dev/fixtures/public-and-api/.gitignore
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Make filesystem globbing faster in `vercel dev` (#4793)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/get-files.ts
  packages/now-cli/test/dev/fixtures/invalidate-vercel-config/vercel.json
  packages/now-cli/test/dev/fixtures/node-helpers/vercel.json
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[frameworks][examples] Add Blitz.js (#4465)
  examples/blitzjs/.babelrc.js
  examples/blitzjs/.eslintrc.js
  examples/blitzjs/.gitignore
  examples/blitzjs/.npmrc
  examples/blitzjs/.prettierignore
  examples/blitzjs/README.md
  examples/blitzjs/app/components/.keep
  examples/blitzjs/app/components/ErrorBoundary.tsx
  examples/blitzjs/app/layouts/.keep
  examples/blitzjs/app/pages/_app.tsx
  examples/blitzjs/app/pages/_document.tsx
  examples/blitzjs/app/pages/index.tsx
  examples/blitzjs/blitz.config.js
  examples/blitzjs/db/index.ts
  examples/blitzjs/db/migrations/.keep
  examples/blitzjs/db/schema.prisma
  examples/blitzjs/integrations/.keep
  examples/blitzjs/package.json
  examples/blitzjs/public/favicon.ico
  examples/blitzjs/public/logo.png
  examples/blitzjs/tsconfig.json
  examples/blitzjs/utils/.keep
  packages/frameworks/frameworks.json
  packages/frameworks/logos/blitz.svg
  packages/now-build-utils/src/detect-builders.ts
  packages/now-next/src/index.ts
Owners: @mcsdevv, @timothyis, @AndyBitz, @styfle, @TooTallNate, @Timer, @ijjk

[frameworks] Remove blitz demo (#4816)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk

[next] Don't use potentially invalid routeKeys/regexes (#4803)
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/27-non-word-param/next.config.js
  packages/now-next/test/fixtures/27-non-word-param/now.json
  packages/now-next/test/fixtures/27-non-word-param/package.json
  packages/now-next/test/fixtures/27-non-word-param/pages/[...path-segments].js
  packages/now-next/test/fixtures/27-non-word-param/pages/index.js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
