Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @tootallnate, @dav-is, @sophearak

[now-go] Use meta in `download()` (#495)
  packages/now-go/index.ts
  packages/now-go/util/analyze.go
Owners: @styfle, @sophearak

Publish
  packages/now-go/package.json
  packages/now-next/package.json
Owners: @styfle, @sophearak, @dav-is

[now-go] Give user descriptive error message when Go Modules not available (#514)
  packages/now-go/go-helpers.ts
Owners: @styfle, @sophearak

Publish
  packages/now-go/package.json
Owners: @styfle, @sophearak

Run only tests for packages that changed (#515)
  jest.config.js
Owners: @styfle

Make sure `cwd` user clean by using `cwd/.now` (#516)
  packages/now-python/index.ts
Owners: @styfle

Publish
  packages/now-python/package.json
Owners: @styfle

Adjust `now init` and `now dev` to not require a login token (#2325)
  src/index.js
Owners: @styfle

[now dev] Mix in routes query params when proxying to a URL (#2330)
  package.json
  src/commands/dev/lib/dev-server.ts
  test/dev-server.unit.js
  test/fixtures/unit/now-dev-query-invoke/index.js
  test/fixtures/unit/now-dev-query-invoke/now.json
  test/fixtures/unit/now-dev-query-proxy/index.js
  test/fixtures/unit/now-dev-query-proxy/now.json
  test/integration.js
Owners: @styfle

Fix transfer in price for some TLDs (#2334)
  src/commands/domains/transfer-in.ts
  src/util/domains/get-domain-price.ts
Owners: @styfle

Re-enable "try to create a builds deployments with wrong config" integration test (#2337)
  test/integration.js
Owners: @styfle

[now dev] Use the dev server `cwd` as builder's `workPath` (#2326)
  package.json
  src/commands/dev/lib/dev-builder.ts
  src/commands/dev/lib/dev-server.ts
  src/commands/dev/lib/types.ts
  test/dev-server.unit.js
  test/fixtures/unit/now-dev-next/.gitignore
  test/fixtures/unit/now-dev-next/next.config.js
  test/fixtures/unit/now-dev-next/now.json
  test/fixtures/unit/now-dev-next/package.json
  test/fixtures/unit/now-dev-next/pages/index.js
  yarn.lock
Owners: @styfle

[now dev] Consider `devDependencies` when looking up package name (#2352)
  src/commands/dev/lib/builder-cache.ts
  src/commands/dev/lib/types.ts
Owners: @styfle

[now dev] Use `chokidar` for file watching (#2350)
  build.js
  package.json
  src/commands/dev/lib/dev-server.ts
  src/commands/dev/lib/nsfw-module.ts
  src/util/get-files.ts
  src/util/once.ts
  yarn.lock
Owners: @styfle

[now dev] Create `yarn.cmd` file on Windows (#2358)
  src/commands/dev/lib/yarn-installer.ts
Owners: @styfle

Help users to deal with secrets starting with dash (#2253)
  src/commands/secrets.js
Owners: @styfle

Integrate universal metrics (#2346)
  package.json
  src/index.js
  src/util/config/get-default.js
  src/util/constants.js
  src/util/metrics.js
  yarn.lock
Owners: @styfle

Increase the time we wait for the aliasing (#2360)
  test/integration.js
Owners: @styfle

Add .now ignore by default (#2365)
  src/util/ignored.ts
Owners: @styfle

Publish
  packages/now-go/package.json
  packages/now-python/package.json
Owners: @styfle, @sophearak

15.3.0
  package.json
Owners: @styfle

Mimic browser user agent (#2372)
  src/util/metrics.js
  src/util/ua-browser.ts
Owners: @styfle

[now-node-bridge] Disable callbackWaitsForEmptyEventLoop (#505)
  packages/now-node-bridge/src/bridge.ts
  packages/now-node-bridge/test/bridge.test.js
Owners: @styfle

Publish
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node-bridge/package.json
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-python/package.json
Owners: @styfle, @sophearak, @dav-is, @tootallnate

[now dev] Use empty string for missing matches (#2376)
  src/commands/dev/lib/dev-router.ts
  test/dev-router.unit.js
Owners: @styfle

[now-next] Handle statically exported pages (#520)
  packages/now-next/src/index.ts
Owners: @styfle, @dav-is

Publish
  packages/now-next/package.json
Owners: @styfle, @dav-is

[now-next] Update to use routes for static pages (#521)
  packages/now-next/src/index.ts
Owners: @styfle, @dav-is

Publish
  packages/now-next/package.json
Owners: @styfle, @dav-is

[now-go] Add option to use private Git for `go get` (#513)
  packages/now-go/index.ts
Owners: @styfle, @sophearak

[now-python] Make sure to pass decode url params (#496)
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/09-url-params/custom.py
  packages/now-python/test/fixtures/09-url-params/index.py
  packages/now-python/test/fixtures/09-url-params/now.json
  packages/now-python/test/fixtures/09-url-params/requirements.txt
Owners: @styfle

Publish
  packages/now-go/package.json
  packages/now-python/package.json
Owners: @styfle, @sophearak

[now-next] Ensure route begins with a slash (#524)
  packages/now-next/src/index.ts
Owners: @styfle, @dav-is

Publish
  packages/now-next/package.json
Owners: @styfle, @dav-is

Use unquote() for http handler (#525)
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/10-url-params-http-handler/index.py
  packages/now-python/test/fixtures/10-url-params-http-handler/now.json
Owners: @styfle

Add custom path and proper check (#527)
  packages/now-python/test/fixtures/09-url-params/now.json
  packages/now-python/test/fixtures/10-url-params-http-handler/custom.py
  packages/now-python/test/fixtures/10-url-params-http-handler/now.json
Owners: @styfle

Publish
  packages/now-python/package.json
Owners: @styfle

Publish
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node-bridge/package.json
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-static-build/package.json
Owners: @styfle, @sophearak, @dav-is, @tootallnate

Update README.md
  README.md
Owners: @styfle

Switch branch during publish (#529)
  package.json
Owners: @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                       @styfle
/packages/now-node      @styfle @tootallnate
/packages/now-next      @styfle @dav-is
/packages/now-go        @styfle @sophearak
