Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @AndyBitz, @tootallnate, @lucleray, @timer, @sophearak, @coetry, @nathancahill, @dav-is

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                         @styfle
/packages/now-build-utils @styfle @AndyBitz
/packages/now-node        @styfle @tootallnate @lucleray
/packages/now-node-bridge @styfle @tootallnate @lucleray
/packages/now-next        @timer
/packages/now-go          @styfle @sophearak
/packages/now-python      @styfle @sophearak
/packages/now-ruby        @styfle @coetry @nathancahill
/packages/now-static-build @styfle @AndyBitz
/packages/now-routing-utils @dav-is

Print HTTP status code upon API JSON parse errors (#2727)
  src/util/index.js
Owners: @styfle

Update `serve-handler` to v6.1.1 (#2731)
  package.json
  test/dev-server.unit.js
  yarn.lock
Owners: @styfle

[now update] Show correct global or local install command (#2719)
  src/util/get-update-command.ts
  test/integration.js
Owners: @styfle

Update index.js (#2733)
  src/util/index.js
Owners: @styfle

[now dev] Add `--listen` / `-l` flag, deprecate `--port` / `-p` (#2720)
  src/commands/dev/dev.ts
  src/commands/dev/index.ts
  src/util/dev/parse-listen.ts
  src/util/dev/server.ts
  src/util/dev/types.ts
  test/dev-server.unit.js
  test/dev/integration.js
Owners: @styfle

[now dev] Remove leftover `console.error()` call (#2735)
  src/util/dev/server.ts
Owners: @styfle

Bump `@now/build-utils` to 0.9.12 (#2736)
  package.json
  yarn.lock
Owners: @styfle

Update `clipboardy` to v2.1.0 (#2737)
  package.json
  yarn.lock
Owners: @styfle

support to set api host for development (#2748)
  src/util/agent.ts
  src/util/client.ts
Owners: @styfle

remove unused HTTP/HTTPS Agent (#2749)
  src/util/agent.ts
Owners: @styfle

[now projects] Add subcommand alias for `now project` (#2750)
  src/commands/index.js
Owners: @styfle

Use the correct URL in the `auth.json` and `config.json` files (#2755)
  src/util/config/get-default.js
Owners: @styfle

[now dev] Use canary builders for the canary version (#2753)
  src/util/dev/server.ts
  test/dev/integration.js
Owners: @styfle

Fix "occured" -> "occurred" typos (#2761)
  src/commands/deploy/latest.js
  src/util/dev/server.ts
Owners: @styfle

[now scale] Fix default `max: auto` value in `--help` output (#2763)
  src/commands/scale.js
Owners: @styfle

[now rm] Use the proper `client` so that the process does not hang (#2762)
  src/commands/remove.js
  test/integration.js
Owners: @styfle

Remove leftover `console.log()` in integration tests (#2768)
  test/integration.js
Owners: @styfle

add misssing defaultArgs (#2770)
  test/integration.js
Owners: @styfle

Display rate limit errors message from API response (#2767)
  src/util/handle-error.ts
Owners: @styfle

Sleep 2 seconds after the `now rm` integration test (#2776)
  test/integration.js
Owners: @styfle

Remove a couple unused `import` (#2777)
  src/util/handle-error.ts
Owners: @styfle

[now domain] Handle thrown API errors when purchasing domain fails (#2779)
  src/commands/domains/buy.ts
Owners: @styfle

Bump `@now/build-utils` to 0.9.13 (#2784)
  package.json
  yarn.lock
Owners: @styfle

[now deploy] Added `--prod` flag (#2789)
  src/commands/deploy/args.js
  src/commands/deploy/latest.js
  test/helpers/prepare.js
  test/integration.js
Owners: @styfle

[now deploy] Fix `--prod` flag and adjust message for `--target` (#2797)
  src/commands/deploy/latest.js
  test/integration.js
Owners: @styfle

[now deploy] Fix `--prod` flag and adjust message for `--target` (#2797)
  src/commands/deploy/latest.js
  test/integration.js
Owners: @styfle

[now deploy] Fix builds output for failed deployments (#2799)
  src/commands/deploy/latest.js
  test/helpers/prepare.js
  test/integration.js
Owners: @styfle

[now deploy] Fix builds output for failed deployments (#2799)
  src/commands/deploy/latest.js
  test/helpers/prepare.js
  test/integration.js
Owners: @styfle

Use short-form for the update command (#2801)
  src/util/get-update-command.ts
  test/integration.js
Owners: @styfle

16.1.2-canary.7
  package.json
Owners: @styfle

Use short-form for the update command (#2801)
  src/util/get-update-command.ts
  test/integration.js
Owners: @styfle

16.1.2
  package.json
Owners: @styfle

[now-node] Include global `.d.ts` and fail when `noEmitOnError` is true (#927)
  packages/now-node/src/index.ts
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/dep.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/es5.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/functions/tsconfig.json
  packages/now-node/test/fixtures/18-nested-tsconfig/index.ts
  packages/now-node/test/fixtures/18-nested-tsconfig/now.json
  packages/now-node/test/fixtures/18-nested-tsconfig/package.json
  packages/now-node/test/fixtures/18-nested-tsconfig/tsconfig.json
  packages/now-node/test/fixtures/45-noEmitOnError-true/index.ts
  packages/now-node/test/fixtures/45-noEmitOnError-true/now.json
  packages/now-node/test/fixtures/45-noEmitOnError-true/package.json
  packages/now-node/test/fixtures/45-noEmitOnError-true/tsconfig.json
  packages/now-node/test/fixtures/46-noEmitOnError-false/index.ts
  packages/now-node/test/fixtures/46-noEmitOnError-false/now.json
  packages/now-node/test/fixtures/46-noEmitOnError-false/package.json
  packages/now-node/test/fixtures/46-noEmitOnError-false/tsconfig.json
  packages/now-node/test/test.js
Owners: @styfle, @tootallnate, @lucleray

[now-python] More robust way to install the pipenv converter regardless of OS (#930)
  packages/now-python/src/index.ts
Owners: @styfle, @sophearak

[docs] Add instructions for deploying Builder as a tarball (#939)
  CONTRIBUTING.md
Owners: @styfle

Fix "TypeError: Cannot convert undefined or null to object" (#940)
  packages/now-static-build/src/index.ts
Owners: @styfle, @AndyBitz

[now-next] Always use node-file-trace if available (#944)
  packages/now-next/src/create-serverless-config.ts
Owners: @timer

[now-static-build] Optimize default routes for vue (#799)
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/13-vue/now.json
  packages/now-static-build/test/fixtures/13-vue/public/manifest.json
  packages/now-static-build/test/fixtures/13-vue/public/robots.txt
Owners: @styfle, @AndyBitz

[now-node][now-next] Bump node-file-trace to 0.2.13 (#947)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @timer, @styfle, @tootallnate, @lucleray

[now-static-build] Add Saber Optimization (#946)
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/25-saber/.gitignore
  packages/now-static-build/test/fixtures/25-saber/README.md
  packages/now-static-build/test/fixtures/25-saber/now.json
  packages/now-static-build/test/fixtures/25-saber/package.json
  packages/now-static-build/test/fixtures/25-saber/pages/_posts/my-example-post.md
  packages/now-static-build/test/fixtures/25-saber/pages/_posts/super-long-article.md
  packages/now-static-build/test/fixtures/25-saber/pages/_posts/super-short-article.md
  packages/now-static-build/test/fixtures/25-saber/pages/about.md
  packages/now-static-build/test/fixtures/25-saber/pages/index.md
  packages/now-static-build/test/fixtures/25-saber/saber-config.yml
  packages/now-static-build/test/fixtures/25-saber/saber-node.js
Owners: @styfle, @AndyBitz
