Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

Publish Stable
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

[cli] Ensure the `devProcessPort` is set during "upgrade" events (#5226)
  packages/now-cli/src/util/dev/server.ts
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[node] Only use the project's local "typescript" when it has compatible `ScriptTarget` (#5220)
  packages/now-node/src/dev-server.ts
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/now-cli/package.json
  packages/now-node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[cli] Fix dev routing when using `routes` with a frontend framework (#5253)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/.gitignore
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/package.json
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/pages/api/hello.js
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/pages/index.js
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/vercel.json
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/yarn.lock
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[cli] Remove 1.0 path alias rules (#5258)
  packages/now-cli/src/commands/alias/index.js
  packages/now-cli/src/commands/alias/ls.js
  packages/now-cli/src/commands/alias/set.ts
  packages/now-cli/src/types.ts
  packages/now-cli/test/helpers/prepare.js
Owners: @TooTallNate

[cli] Fix progress bar completion (#5260)
  packages/now-cli/src/util/deploy/process-deployment.ts
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[routing-utils] Add locale to routes schema (#5259)
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/test/index.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/now-routing-utils/package.json
Owners: @styfle, @dav-is, @ijjk

[examples] Fix link to gatsby live example (#5205)
  examples/gatsby/src/pages/index.js
Owners: @mcsdevv, @timothyis

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

Update README.md
  README.md
Owners: @TooTallNate

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
