Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @AndyBitz, @tootallnate, @lucleray, @timer, @sophearak, @coetry, @nathancahill, @dav-is

Revert "Disable compression for Zips" (#907)
  packages/now-build-utils/src/lambda.ts
Owners: @styfle, @AndyBitz

Update link to docs (#912)
  packages/now-go/index.ts
Owners: @styfle, @sophearak

[now-node][now-next] Bump node-file-trace to 0.2.8 (#917)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @timer, @styfle, @tootallnate, @lucleray

[now-python] WSGI encoding dance for QUERY_STRING (#915)
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/custom.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/index.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/now.json
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/requirements.txt
Owners: @styfle, @sophearak

[docs] Add versioning documentation (#919)
  PUBLISHING.md
  README.md
  VERSIONING.md
Owners: @styfle

[now-node][now-next] Bump node-file-trace to 0.2.9 (#920)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @timer, @styfle, @tootallnate, @lucleray

[now-static-build] Fix zero config vue headers (#918)
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/13-vue/now.json
  packages/now-static-build/test/fixtures/13-vue/vue.config.js
Owners: @styfle, @AndyBitz

Publish
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-static-build/package.json
Owners: @styfle, @sophearak, @timer, @tootallnate, @lucleray, @AndyBitz

Use the correct URL in the `auth.json` and `config.json` files (#2755)
  src/util/config/get-default.js
Owners: @styfle

[now dev] Use canary builders for the canary version (#2753)
  src/util/dev/server.ts
  test/dev/integration.js
Owners: @styfle

Fix "occured" -> "occurred" typos (#2761)
  src/commands/deploy/latest.js
  src/util/dev/server.ts
Owners: @styfle

[now-next] Use more appropriate semver comparisons (#925)
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/02-firebase/pages/nested/moar/[dynamic_fb].js
Owners: @timer

[now-next] Join bundle require path manually (#932)
  packages/now-next/src/index.ts
Owners: @timer

[now-next] Test on Node 8 and Node 10 (#933)
  packages/now-next/test/fixtures/02-firebase-node-8/next.config.js
  packages/now-next/test/fixtures/02-firebase-node-8/now.json
  packages/now-next/test/fixtures/02-firebase-node-8/package.json
  packages/now-next/test/fixtures/02-firebase-node-8/pages/nested/fb.js
  packages/now-next/test/fixtures/02-firebase-node-8/pages/nested/moar/[dynamic_fb].js
  packages/now-next/test/fixtures/04-firebase-node-10/next.config.js
  packages/now-next/test/fixtures/04-firebase-node-10/now.json
  packages/now-next/test/fixtures/04-firebase-node-10/package.json
  packages/now-next/test/fixtures/04-firebase-node-10/pages/nested/fb.js
  packages/now-next/test/fixtures/04-firebase-node-10/pages/nested/moar/[dynamic_fb].js
Owners: @timer

Publish
  packages/now-next/package.json
Owners: @timer

[now scale] Fix default `max: auto` value in `--help` output (#2763)
  src/commands/scale.js
Owners: @styfle

[now rm] Use the proper `client` so that the process does not hang (#2762)
  src/commands/remove.js
  test/integration.js
Owners: @styfle

Remove leftover `console.log()` in integration tests (#2768)
  test/integration.js
Owners: @styfle

add misssing defaultArgs (#2770)
  test/integration.js
Owners: @styfle

Display rate limit errors message from API response (#2767)
  src/util/handle-error.ts
Owners: @styfle

16.1.2-canary.3
  package.json
Owners: @styfle

Sleep 2 seconds after the `now rm` integration test (#2776)
  test/integration.js
Owners: @styfle

Add more alias support (#2747)
  src/util/alias/extract-domain.ts
  src/util/alias/is-wildcard-alias.ts
  src/util/certs/create-cert-for-alias.ts
  src/util/certs/get-wildcard-cns-for-alias.ts
  src/util/domains/setup-domain.ts
  test/integration.js
Owners: @styfle

Remove a couple unused `import` (#2777)
  src/util/handle-error.ts
Owners: @styfle

[now domain] Handle thrown API errors when purchasing domain fails (#2779)
  src/commands/domains/buy.ts
Owners: @styfle

16.1.2-canary.4
  package.json
Owners: @styfle

Bump node-file-trace to 0.2.10 (#938)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @timer, @styfle, @tootallnate, @lucleray

Upgrade `@zeit/node-file-trace` to `0.2.11` (#942)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @timer, @styfle, @tootallnate, @lucleray

Publish
  packages/now-next/package.json
Owners: @timer

[now-build-utils] Fix detected builders tag (#943)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Owners: @styfle, @AndyBitz

Publish
  packages/now-build-utils/package.json
Owners: @styfle, @AndyBitz

Bump `@now/build-utils` to 0.9.13 (#2784)
  package.json
  yarn.lock
Owners: @styfle

16.1.2-canary.5
  package.json
Owners: @styfle

Revert "Add more alias support (#2747)"
  src/util/alias/extract-domain.ts
  src/util/alias/is-wildcard-alias.ts
  src/util/certs/create-cert-for-alias.ts
  src/util/certs/get-wildcard-cns-for-domain.ts
  src/util/domains/setup-domain.ts
  test/integration.js
Owners: @styfle

[now deploy] Added `--prod` flag (#2789)
  src/commands/deploy/args.js
  src/commands/deploy/latest.js
  test/helpers/prepare.js
  test/integration.js
Owners: @styfle

16.1.2-canary.6
  package.json
Owners: @styfle

Remove vestigial `mkdirp` packages (#2724)
  package.json
  yarn.lock
Owners: @styfle

[CircleCI] Fix `test/dev-server.unit.js` being run on CI (#2725)
  .circleci/config.yml
  package.json
Owners: @styfle

Add automerge config (#2729)
  .kodiak.toml
Owners: @styfle

Add `accept: application/json` header to API HTTP requests (#2726)
  src/util/index.js
Owners: @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                         @styfle
/packages/now-build-utils @styfle @AndyBitz
/packages/now-node        @styfle @tootallnate @lucleray
/packages/now-node-bridge @styfle @tootallnate @lucleray
/packages/now-next        @timer
/packages/now-go          @styfle @sophearak
/packages/now-python      @styfle @sophearak
/packages/now-ruby        @styfle @coetry @nathancahill
/packages/now-static-build @styfle @AndyBitz
/packages/now-routing-utils @dav-is
