Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tootallnate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @sophearak, @coetry, @nathancahill, @dav-is, @msweeneydev, @timothyis, @timneutkens, @sarupbanskota

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @tootallnate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev/      @tootallnate @styfle @AndyBitz
/packages/now-cli/src/util/dev/          @tootallnate @styfle @AndyBitz
/packages/now-cli/src/commands/domains/  @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs/    @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev
/packages/now-build-utils                @styfle @AndyBitz
/packages/now-node                       @styfle @tootallnate @lucleray
/packages/now-node-bridge                @styfle @tootallnate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @sophearak
/packages/now-python                     @styfle @sophearak
/packages/now-ruby                       @styfle @coetry @nathancahill
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @msweeneydev @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens
/examples/hugo                           @msweeneydev @timothyis @styfle
/examples/jekyll                         @msweeneydev @timothyis @sarupbanskota
/examples/zola                           @msweeneydev @timothyis @styfle

[cli] Fix api url for `vc env add` (#4371)
  packages/now-cli/src/util/env/add-env-record.ts
Owners: @tootallnate

[cli] Pin `@vercel/next` to v2.6.2 (#4373)
  packages/now-cli/package.json
Owners: @tootallnate

[build-utils][cli][node] Write the dev mode `tsconfig.json` files to `.vercel/cache` (#4230)
  packages/now-build-utils/src/types.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/pkg.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Owners: @styfle, @AndyBitz, @tootallnate, @lucleray

Adds the missing logo for the Dojo framework (#4377)
  packages/frameworks/logos/dojo.svg
  packages/frameworks/test/frameworks.unit.test.ts
Owners: @AndyBitz

[frameworks] Fix Dojo logo (#4379)
  packages/frameworks/frameworks.json
  packages/frameworks/logos/dojo.svg
Owners: @AndyBitz

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-node/package.json
Owners: @AndyBitz, @styfle, @tootallnate, @lucleray

[tests] Fix test tokens (#4386)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  test/lib/deployment/now-deploy.js
Owners: @AndyBitz, @styfle, @tootallnate
