Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @tootallnate, @dav-is, @sophearak

Publish
  packages/now-build-utils/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @styfle, @dav-is, @tootallnate

Remove `packages/now-rust/now-rust-0.2.3.tgz` (#480)
  packages/now-rust/now-rust-0.2.3.tgz
Owners: @styfle

[now dev] Mix in routes query params when proxying to a URL (#2330)
  package.json
  src/commands/dev/lib/dev-server.ts
  test/dev-server.unit.js
  test/fixtures/unit/now-dev-query-invoke/index.js
  test/fixtures/unit/now-dev-query-invoke/now.json
  test/fixtures/unit/now-dev-query-proxy/index.js
  test/fixtures/unit/now-dev-query-proxy/now.json
  test/integration.js
Owners: @styfle

Fix transfer in price for some TLDs (#2334)
  src/commands/domains/transfer-in.ts
  src/util/domains/get-domain-price.ts
Owners: @styfle

[now-go] Only use valid exported function with `net/http` interface (#477)
  packages/now-go/index.ts
  packages/now-go/test/fixtures/09-exported-function/index.go
  packages/now-go/test/fixtures/09-exported-function/now.json
  packages/now-go/util/analyze.go
Owners: @styfle, @sophearak

Re-enable "try to create a builds deployments with wrong config" integration test (#2337)
  test/integration.js
Owners: @styfle

[now-node] Update `@zeit/ncc` to v0.18.5
  packages/now-node/package.json
Owners: @styfle, @tootallnate

Update `yarn.lock`
  yarn.lock
Owners: @styfle

[now-node-server] Update `@zeit/ncc` to v0.18.5
  packages/now-node-server/package.json
Owners: @styfle

[now-cgi] Download files to `workPath` and pass `meta` (#487)
  packages/now-cgi/index.js
Owners: @styfle

[now-mdx-deck] Pass `meta` to `download()` function (#488)
  packages/now-mdx-deck/index.js
Owners: @styfle

[now-php] Download files to `workPath` and pass `meta` (#490)
  packages/now-php/index.js
Owners: @styfle

[now-python] Pass `meta` to `download()` function (#491)
  packages/now-python/index.ts
Owners: @styfle

[now dev] Use the dev server `cwd` as builder's `workPath` (#2326)
  package.json
  src/commands/dev/lib/dev-builder.ts
  src/commands/dev/lib/dev-server.ts
  src/commands/dev/lib/types.ts
  test/dev-server.unit.js
  test/fixtures/unit/now-dev-next/.gitignore
  test/fixtures/unit/now-dev-next/next.config.js
  test/fixtures/unit/now-dev-next/now.json
  test/fixtures/unit/now-dev-next/package.json
  test/fixtures/unit/now-dev-next/pages/index.js
  yarn.lock
Owners: @styfle

[now-rust] Pass `meta` to `download()` function
  packages/now-rust/index.js
Owners: @styfle

[now-node-server] Pass `meta` to `download()` function (#489)
  packages/now-node-server/index.js
Owners: @styfle

Publish
  packages/now-cgi/package.json
  packages/now-go/package.json
  packages/now-mdx-deck/package.json
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-php/package.json
  packages/now-python/package.json
  packages/now-rust/package.json
Owners: @styfle, @sophearak, @tootallnate

15.1.1-canary.4
  package.json
Owners: @styfle

[now-next] Add support for /api routes (#494)
  packages/now-next/src/launcher.ts
Owners: @styfle, @dav-is

Publish
  packages/now-build-utils/package.json
  packages/now-cgi/package.json
  packages/now-go/package.json
  packages/now-mdx-deck/package.json
  packages/now-next/package.json
  packages/now-node-server/package.json
  packages/now-node/package.json
  packages/now-php/package.json
  packages/now-python/package.json
  packages/now-rust/package.json
Owners: @styfle, @sophearak, @dav-is, @tootallnate

15.2.1-canary.0
  package.json
Owners: @styfle

[now-static-build] Add `err.sh` link when dev server detection fails (#498)
  errors/now-static-build-failed-to-detect-a-server.md
  packages/now-static-build/index.js
Owners: @styfle

Publish
  packages/now-static-build/package.json
Owners: @styfle

[now-static-build] Remove `srcBase` from the proxy pass destination (#499)
  packages/now-static-build/index.js
Owners: @styfle

Publish
  packages/now-static-build/package.json
Owners: @styfle

Publish
  packages/now-static-build/package.json
Owners: @styfle

[now dev] Consider `devDependencies` when looking up package name (#2352)
  src/commands/dev/lib/builder-cache.ts
  src/commands/dev/lib/types.ts
Owners: @styfle

[now-next] Default `NODE_ENV` to "development" for dev server (#493)
  packages/now-next/src/index.ts
Owners: @styfle, @dav-is

[now dev] Use `chokidar` for file watching (#2350)
  build.js
  package.json
  src/commands/dev/lib/dev-server.ts
  src/commands/dev/lib/nsfw-module.ts
  src/util/get-files.ts
  src/util/once.ts
  yarn.lock
Owners: @styfle

Publish
  packages/now-next/package.json
  packages/now-static-build/package.json
Owners: @styfle, @dav-is

15.2.1-canary.1
  package.json
Owners: @styfle

Publish
  packages/now-next/package.json
Owners: @styfle, @dav-is

[now-go] Ignore folders in `analyze.go` (#503)(#504) (#506)
  packages/now-go/util/analyze.go
Owners: @styfle, @sophearak

[now dev] Create `yarn.cmd` file on Windows (#2358)
  src/commands/dev/lib/yarn-installer.ts
Owners: @styfle

Help users to deal with secrets starting with dash (#2253)
  src/commands/secrets.js
Owners: @styfle

Integrate universal metrics (#2346)
  package.json
  src/index.js
  src/util/config/get-default.js
  src/util/constants.js
  src/util/metrics.js
  yarn.lock
Owners: @styfle

Increase the time we wait for the aliasing (#2360)
  test/integration.js
Owners: @styfle

15.2.1-canary.2
  package.json
Owners: @styfle

Add .now ignore by default (#2365)
  src/util/ignored.ts
Owners: @styfle

15.2.1-canary.3
  package.json
Owners: @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                       @styfle
/packages/now-node      @styfle @tootallnate
/packages/now-next      @styfle @dav-is
/packages/now-go        @styfle @sophearak
