Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

[cli] Remove caching of `vercel.json` config in `vc dev` (#4808)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[all] Change prettier config `arrowParens: avoid` (#4819)
  package.json
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli][static-build] Use titlecase for "Project Settings" (#4820)
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/integration.test.js
Owners: @TooTallNate, @styfle, @AndyBitz

Revert "[frameworks] Remove blitz demo (#4816)" (#4826)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

[cli] Handle API Error `action` property (#4825)
  packages/now-cli/src/util/output/error.ts
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[cli] Handle 400 errors as user errors (#4827)
  packages/now-cli/src/index.js
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/response-error.ts
Owners: @TooTallNate

replace "more details" with "learn more" (#4828)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/errors.ts
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/output/create-output.ts
Owners: @styfle, @AndyBitz, @TooTallNate

[next] Add pages with invalid route regexes (#4813)
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/b/[123].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/c/[alongparamnameshouldbeallowedeventhoughweird].js
Owners: @Timer, @ijjk

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk

[next] Fix preview mode with dynamic routes in shared lambdas (#4812)
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/27-preview-mode/additional.js
  packages/now-next/test/fixtures/27-preview-mode/next.config.js
  packages/now-next/test/fixtures/27-preview-mode/now.json
  packages/now-next/test/fixtures/27-preview-mode/package.json
  packages/now-next/test/fixtures/27-preview-mode/pages/api/disable.js
  packages/now-next/test/fixtures/27-preview-mode/pages/api/enable.js
  packages/now-next/test/fixtures/27-preview-mode/pages/docs/[...rest].js
  packages/now-next/test/fixtures/27-preview-mode/pages/docs/index.js
  yarn.lock
Owners: @Timer, @ijjk, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray, @coetry

fix: Also handle nuxt-edge detection (#4756)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

[build-utils] Add Nuxt cache and default routes (#4755)
  packages/now-static-build/src/frameworks.ts
Owners: @styfle, @AndyBitz

Publish Canary
  packages/frameworks/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @styfle

[frameworks][api] Add sort order (#4829)
  api/_lib/util/with-api-handler.ts
  api/examples/download/[segment].ts
  api/examples/info.ts
  api/examples/list-all.ts
  api/examples/list.ts
  api/frameworks.ts
  api/package.json
  api/yarn.lock
  packages/frameworks/frameworks.json
  packages/frameworks/index.d.ts
  packages/frameworks/test/frameworks.unit.test.ts
Owners: @TooTallNate, @AndyBitz

[go] Add filesystem write fallback for `startDevServer()` (#4830)
  packages/now-go/dev-server.go
  packages/now-go/index.ts
  packages/now-go/package.json
  yarn.lock
Owners: @styfle, @TooTallNate

[frameworks][api] Move dependency to devdependency (#4836)
  api/package.json
  api/yarn.lock
  packages/frameworks/test/frameworks.unit.test.ts
Owners: @TooTallNate, @AndyBitz

[cli] Pin `@vercel/static-build` to "0.17.6-canary.0" (#4837)
  packages/now-cli/package.json
Owners: @TooTallNate

Publish Canary
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/now-go/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @TooTallNate, @styfle

[next] Fix nested public files being renamed incorrectly (#4817)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/28-nested-public/next.config.js
  packages/now-next/test/fixtures/28-nested-public/now.json
  packages/now-next/test/fixtures/28-nested-public/package.json
  packages/now-next/test/fixtures/28-nested-public/pages/index.js
  packages/now-next/test/fixtures/28-nested-public/public/republic/test.txt
Owners: @Timer, @ijjk

[cli] Show helpful error when using unauthorized `.vercel` config (#4807)
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[build-utils] Update error message for unmatched function pattern (#4849)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk

[cli] Minor text changes to wrong config error message (#4848)
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[cli] Set Vercel proxy request headers in `startDevServer()` (#4850)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/headers.js
  packages/now-cli/test/dev/fixtures/python-flask/api/headers.py
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[cli] Set Vercel platform env vars for `startDevServer()` invocations (#4855)
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/dump.js
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[cli] Set `server: Vercel` header and remove `x-now` response headers in `vercel dev` (#4867)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev-server.unit.js
Owners: @TooTallNate, @styfle, @AndyBitz

[frameworks][examples] Update blitz new command (#4868)
  examples/blitzjs/README.md
  packages/frameworks/frameworks.json
Owners: @mcsdevv, @timothyis, @AndyBitz

[build-utils] Add `getScriptName()` function (#4869)
  packages/now-build-utils/build.sh
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.get-script-name.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

[cli] Remove "npm pack" logic from `output-is-source` dev test (#4870)
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate

[node][next] Bump node-file-trace to 0.8.0 (#4814)
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Owners: @Timer, @ijjk, @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

Bump lodash from 4.17.15 to 4.17.19 (#4877)
  yarn.lock
Owners: @TooTallNate

[cli] Use `update-notifier` instead of `update-check` (#4896)
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/index.js
  yarn.lock
Owners: @TooTallNate
