Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

[frameworks][redwood] Bump to RedwoodJS to 0.15.0 (#4953)
  examples/redwoodjs/api/package.json
  examples/redwoodjs/package.json
  examples/redwoodjs/web/package.json
  examples/redwoodjs/yarn.lock
  packages/frameworks/frameworks.json
  packages/redwood/test/fixtures/01-create-redwood-app/api/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/01-create-redwood-app/web/package.json
Owners: @mcsdevv, @timothyis, @AndyBitz, @TooTallNate

[routing-utils] Update header replacing to handle more cases (#4942)
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-routing-utils/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @TooTallNate, @Timer, @ijjk, @styfle, @lucleray, @dav-is

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[examples] Update deprecated and outdated Svelte example packages (#4706)
  examples/svelte/package.json
  examples/svelte/rollup.config.js
Owners: @mcsdevv, @timothyis

[tests] Ignore custom next 404 (#4955)
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate

[cli][redwood] Update redwood port detection in `vc dev` (#4937)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
  packages/redwood/package.json
  packages/redwood/src/index.ts
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/redwood/package.json
Owners: @TooTallNate, @Timer, @ijjk

[next] Fix monorepo build edge case without build script (#4956)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/30-monorepo-no-script/.gitignore
  packages/now-next/test/fixtures/30-monorepo-no-script/babel.config.js
  packages/now-next/test/fixtures/30-monorepo-no-script/now.json
  packages/now-next/test/fixtures/30-monorepo-no-script/package.json
  packages/now-next/test/fixtures/30-monorepo-no-script/packages/www/next.config.js
  packages/now-next/test/fixtures/30-monorepo-no-script/packages/www/package.json
  packages/now-next/test/fixtures/30-monorepo-no-script/packages/www/pages/index.jsx
  packages/now-next/test/fixtures/30-monorepo-no-script/yarn.lock
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[node][next] Bump node-file-trace to 0.8.2 (#4969)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @Timer, @ijjk, @styfle, @TooTallNate, @lucleray

[next] Ensure trailing slash resolves to functions correctly (#4972)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-trailing-slash-add/next.config.js
  packages/now-next/test/fixtures/00-trailing-slash-add/now.json
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/abc/def.js
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/api/hello.js
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/blog/[post].js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @lucleray

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli] Adjust output for recently changed domain commands (#4959)
  packages/now-cli/src/commands/domains/add.ts
  packages/now-cli/src/commands/domains/buy.ts
  packages/now-cli/src/commands/domains/index.ts
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/src/commands/domains/ls.ts
  packages/now-cli/src/commands/domains/transfer-in.ts
  packages/now-cli/src/commands/domains/verify.ts
  packages/now-cli/src/util/dns/get-dns-records.ts
  packages/now-cli/src/util/dns/import-zonefile.ts
  packages/now-cli/src/util/domains/get-domain-by-name.ts
  packages/now-cli/src/util/domains/get-domain-config.ts
  packages/now-cli/src/util/domains/get-domain-price.ts
  packages/now-cli/src/util/domains/get-domain-registrar.ts
  packages/now-cli/src/util/domains/get-domains.ts
  packages/now-cli/src/util/domains/purchase-domain-if-available.ts
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/projects/find-projects-for-domain.ts
  packages/now-cli/src/util/projects/get-projects-with-domains.ts
  packages/now-cli/test/integration.js
Owners: @javivelasco, @mglagola, @anatrajkovska, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli] Fix `.gitignore` append during project link (#4965)
  packages/now-cli/src/util/projects/link.ts
Owners: @TooTallNate

[cli] Fix tests for `.gitignore` append during project link (#4978)
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[frameworks][examples] Adjust redwood logo size (#4976)
  examples/redwoodjs/README.md
  packages/frameworks/frameworks.json
  packages/frameworks/logos/redwood.svg
  packages/frameworks/logos/redwoodjs.svg
Owners: @mcsdevv, @timothyis, @AndyBitz

[next] Run `prettier` (#4979)
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Owners: @Timer, @ijjk

[tests] Update cancel action to 0.4.1 (#4980)
  .github/workflows/cancel.yml
Owners: @AndyBitz, @styfle

[cli] Handle unauthorized errors when user is not logged in (#4975)
  packages/now-cli/src/index.js
  packages/now-cli/src/util/errors-ts.ts
Owners: @TooTallNate

[cli][certs rm] (Major) Bump to v5 certs API (#4943)
  packages/now-cli/src/commands/certs/rm.ts
  packages/now-cli/src/util/certs/delete-cert-by-id.ts
  packages/now-cli/src/util/certs/get-cert-by-id.ts
  packages/now-cli/src/util/certs/get-custom-certs-for-domain.ts
Owners: @javivelasco, @mglagola, @anatrajkovska, @TooTallNate

[next] Blocking Fallback (ISG) Support (#4985)
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/31-blocking-fallback/additional.js
  packages/now-next/test/fixtures/31-blocking-fallback/next.config.js
  packages/now-next/test/fixtures/31-blocking-fallback/now.json
  packages/now-next/test/fixtures/31-blocking-fallback/package.json
  packages/now-next/test/fixtures/31-blocking-fallback/pages/fixed/[slug].js
  packages/now-next/test/fixtures/31-blocking-fallback/pages/regenerated/[slug].js
Owners: @Timer, @ijjk

Publish Canary
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @AndyBitz, @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[examples][static-build] Update ionic-angular to 5.1.1 (#4986)
  .gitignore
  examples/ionic-angular/README.md
  examples/ionic-angular/package-lock.json
  examples/ionic-angular/package.json
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/CONTRIBUTING.md
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/ISSUE_TEMPLATE.md
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/ionic-issue-bot.yml
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/workflows/CI.yml
  packages/now-static-build/test/fixtures/52-ionic-angular/.gitignore
  packages/now-static-build/test/fixtures/52-ionic-angular/e2e/protractor.conf.js
  packages/now-static-build/test/fixtures/52-ionic-angular/generate-h2-push.js
  packages/now-static-build/test/fixtures/52-ionic-angular/package-lock.json
  packages/now-static-build/test/fixtures/52-ionic-angular/package.json
  packages/now-static-build/test/fixtures/52-ionic-angular/src/karma.conf.js
Owners: @TooTallNate, @mcsdevv, @timothyis, @styfle, @AndyBitz

[examples] Update Next.js Example (#4984)
  examples/nextjs/.gitignore
  examples/nextjs/README.md
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/api/hello.js
  examples/nextjs/pages/index.js
  examples/nextjs/public/vercel.svg
  examples/nextjs/styles/Home.module.css
  examples/nextjs/styles/globals.css
Owners: @timneutkens, @Timer

[client] (Major) Remove trailing `/` from default ignore list (#4810)
  packages/now-cli/src/util/ignored.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/.vercelignore
  packages/now-client/tests/unit.utils.test.ts
  packages/now-static-build/src/index.ts
Owners: @TooTallNate, @rdev, @styfle, @AndyBitz

[cli] Default to `os.EOL` when creating `.gitignore` file (#4991)
  packages/now-cli/src/util/projects/link.ts
Owners: @TooTallNate

[client] Lower upload sempahore size from 700 to 50 connections (#4993)
  packages/now-client/src/upload.ts
Owners: @rdev, @styfle, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @rdev, @styfle, @Timer, @ijjk, @AndyBitz

[static-build] Add Docusaurus v2 default routes for assets (#4973)
  packages/now-static-build/src/frameworks.ts
Owners: @styfle, @AndyBitz

[tests] Fix Github Actions CI (#5010)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
Owners: @AndyBitz, @styfle

[build-utils] Fix framework "Other" when Next.js is dependency (#5009)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-static-build/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli] Update `domains` command output (#5018)
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/src/commands/domains/ls.ts
Owners: @javivelasco, @mglagola, @anatrajkovska

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[redwood] Fix file permissions and add support for `build` script (#4999)
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/functions/permission.js
  packages/redwood/test/fixtures/01-create-redwood-app/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/vercel.json
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
Owners: @TooTallNate
