Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

[cli] Fetch environment variables from Project Settings if `.env` file is not present (#4562)
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/test/dev/fixtures/custom-runtime/vercel.json
  packages/now-cli/test/dev/fixtures/node-ts-node-target/.env
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz, @lucleray

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

Revert "[go] Implement `startDevServer()` function (#4662)" (#4899)
  .editorconfig
  packages/now-cli/test/dev/fixtures/go/.gitignore
  packages/now-cli/test/dev/fixtures/go/api/[segment].go
  packages/now-cli/test/dev/fixtures/go/api/another.go
  packages/now-cli/test/dev/fixtures/go/api/index.go
  packages/now-cli/test/dev/integration.js
  packages/now-go/build.sh
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/main.go
  packages/now-go/main__mod__.go
  packages/now-go/package.json
Owners: @TooTallNate, @styfle

Publish Stable
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

Bump codecov from 3.6.5 to 3.7.1 (#4900)
  packages/now-cli/package.json
  yarn.lock
Owners: @TooTallNate

[cli] Add `vercel link` command (#4897)
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/index.ts
  packages/now-cli/src/commands/link/index.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/link/setup-and-link.ts
  packages/now-cli/src/util/projects/create-project.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/src/util/projects/update-project.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/types.ts
Owners: @TooTallNate, @styfle, @AndyBitz, @lucleray, @rdev

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @TooTallNate, @rdev, @styfle

[next][node][static-build] Execute "vercel-build" script if defined (#4863)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/10-export-cache-headers/package.json
  packages/now-next/test/fixtures/11-export-clean-urls/package.json
  packages/now-node/src/index.ts
  packages/now-static-build/build.sh
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/08-hundreds/package.json
  packages/now-static-build/test/integration.test.js
Owners: @Timer, @ijjk, @styfle, @TooTallNate, @lucleray, @AndyBitz

Revert "Revert "[go] Implement `startDevServer()` function (#4662)" (#4899)" (#4906)
  .editorconfig
  packages/now-cli/test/dev/fixtures/go/.gitignore
  packages/now-cli/test/dev/fixtures/go/api/[segment].go
  packages/now-cli/test/dev/fixtures/go/api/another.go
  packages/now-cli/test/dev/fixtures/go/api/index.go
  packages/now-cli/test/dev/integration.js
  packages/now-go/build.sh
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/main.go
  packages/now-go/main__mod__.go
  packages/now-go/package.json
Owners: @TooTallNate, @styfle

Publish Canary
  packages/now-cli/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @styfle, @Timer, @ijjk, @lucleray, @AndyBitz

[cli] Send the Vercel platform proxy request headers to frontend dev server (#4874)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[next] Don't trace pages for lambdas when not needed (#4841)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/29-ssg-all-static/next.config.js
  packages/now-next/test/fixtures/29-ssg-all-static/now.json
  packages/now-next/test/fixtures/29-ssg-all-static/package.json
  packages/now-next/test/fixtures/29-ssg-all-static/pages/another.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/another2.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/forever.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/index.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/nofallback/[slug].js
Owners: @Timer, @ijjk

[cli] Update "set up" message (#4907)
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/link/index.ts
  packages/now-cli/src/util/link/setup-and-link.ts
  packages/now-cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[tests] Skip `try to purchase a domain` CLI test if a VERCEL_TOKEN is provided (#4909)
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[cli] (Major) Change `vc domains add` workflow to match the dashboard (#3325)
  errors/domain-verification.md
  packages/now-cli/src/commands/domains/add.ts
  packages/now-cli/src/commands/domains/index.ts
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/src/commands/domains/ls.ts
  packages/now-cli/src/commands/domains/rm.ts
  packages/now-cli/src/commands/domains/verify.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/domains/get-domain-config.ts
  packages/now-cli/src/util/domains/get-domain.ts
  packages/now-cli/src/util/domains/is-public-suffix.ts
  packages/now-cli/src/util/format-date.ts
  packages/now-cli/src/util/format-table.ts
  packages/now-cli/src/util/get-team-by-id.ts
  packages/now-cli/src/util/projects/add-domain-to-project.ts
  packages/now-cli/src/util/projects/find-projects-for-domain.ts
  packages/now-cli/src/util/projects/get-projects-with-domains.ts
  packages/now-cli/src/util/projects/remove-domain-from-project.ts
  packages/now-cli/src/util/response-error.ts
  packages/now-cli/test/dev-router.unit.js
  packages/now-cli/test/fixtures/unit/dev-nodejs/now.json
  packages/now-cli/test/integration.js
Owners: @TooTallNate, @javivelasco, @mglagola, @anatrajkovska

Bump vercel to 20.0.0-canary.0
  packages/now-cli/package.json
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-static-build/package.json
  packages/redwood/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[frameworks] Add autodetection for RedwoodJS (#4915)
  examples/redwoodjs/.editorconfig
  examples/redwoodjs/.env.defaults
  examples/redwoodjs/.gitignore
  examples/redwoodjs/.nvmrc
  examples/redwoodjs/LICENSE
  examples/redwoodjs/README.md
  examples/redwoodjs/api/.babelrc.js
  examples/redwoodjs/api/jsconfig.json
  examples/redwoodjs/api/package.json
  examples/redwoodjs/api/prisma/schema.prisma
  examples/redwoodjs/api/prisma/seeds.js
  examples/redwoodjs/api/src/functions/graphql.js
  examples/redwoodjs/api/src/graphql/.keep
  examples/redwoodjs/api/src/lib/db.js
  examples/redwoodjs/api/src/services/.keep
  examples/redwoodjs/babel.config.js
  examples/redwoodjs/package.json
  examples/redwoodjs/prettier.config.js
  examples/redwoodjs/redwood.toml
  examples/redwoodjs/web/.babelrc.js
  examples/redwoodjs/web/jsconfig.json
  examples/redwoodjs/web/package.json
  examples/redwoodjs/web/public/README.md
  examples/redwoodjs/web/public/favicon.png
  examples/redwoodjs/web/public/robots.txt
  examples/redwoodjs/web/src/Routes.js
  examples/redwoodjs/web/src/components/.keep
  examples/redwoodjs/web/src/index.css
  examples/redwoodjs/web/src/index.html
  examples/redwoodjs/web/src/index.js
  examples/redwoodjs/web/src/layouts/.keep
  examples/redwoodjs/web/src/pages/AboutPage/AboutPage.js
  examples/redwoodjs/web/src/pages/FatalErrorPage/FatalErrorPage.js
  examples/redwoodjs/web/src/pages/HomePage/HomePage.js
  examples/redwoodjs/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/frameworks/frameworks.json
  packages/frameworks/logos/redwood.svg
  packages/now-build-utils/src/detect-builders.ts
  packages/redwood/test/fixtures/01-create-redwood-app/netlify.toml
Owners: @mcsdevv, @timothyis, @AndyBitz, @styfle, @TooTallNate

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev

[api] Fix api-framework cache header (#4913)
  vercel.json
Owners: @TooTallNate

[build-utils] Fix redwood `/api` detection (#4916)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[cli] Print build error message instead of 'Build failed' (#4908)
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[cli] Fix external rewrites/redirects in dev (#4914)
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/test/dev/fixtures/test-external-rewrites-and-redirects/vercel.json
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[frameworks] Add link to demo for RedwoodJS (#4921)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

[client] Export `buildFileTree()` and return the ignore list (#4917)
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/index.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/unit.utils.test.ts
Owners: @rdev, @styfle, @TooTallNate

[frameworks] Update "Other" build command placeholder to use "vercel-build" (#4934)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

[next] Update test fixtures to latest canary (#4935)
  packages/now-next/test/fixtures/01-cache-headers/now.json
  packages/now-next/test/fixtures/01-cache-headers/package.json
  packages/now-next/test/fixtures/06-lambda-with-memory/package.json
  packages/now-next/test/fixtures/17-static-404/package.json
  packages/now-next/test/fixtures/19-pages-404/package.json
  packages/now-next/test/fixtures/24-custom-output-dir/package.json
Owners: @Timer, @ijjk

[node][next] Bump node-file-trace to 0.8.1 (#4933)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @Timer, @ijjk, @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @AndyBitz, @TooTallNate, @rdev, @styfle, @Timer, @ijjk, @lucleray

[cli] Fix `vercel link` command when `vercel.json` contains `builds` (#4940)
  packages/now-cli/src/util/link/setup-and-link.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[next] Add test cases for route /index handling (#4002)
  packages/now-next/test/fixtures/25-index-routes/next.config.js
  packages/now-next/test/fixtures/25-index-routes/now.json
  packages/now-next/test/fixtures/25-index-routes/package.json
  packages/now-next/test/fixtures/25-index-routes/pages/api/sub/[id].js
  packages/now-next/test/fixtures/25-index-routes/pages/api/sub/index.js
  packages/now-next/test/fixtures/25-index-routes/pages/index.js
  packages/now-next/test/fixtures/25-index-routes/pages/nested-index/index/index.js
  packages/now-next/test/fixtures/25-index-routes/pages/sub/[id].js
  packages/now-next/test/fixtures/25-index-routes/pages/sub/index.js
Owners: @Timer, @ijjk

[next] Fix lambda opt-out for index page (#4950)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/next.config.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/now.json
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/package.json
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/404.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/another.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/another2.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/forever.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/index.js
  packages/now-next/test/fixtures/29-ssg-all-static-custom-404/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/another-index/index.js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @lucleray

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
