Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

Publish Canary
  packages/now-cli/package.json
  packages/redwood/package.json
Owners: @TooTallNate

[redwood] Update default build command (#5020)
  packages/frameworks/frameworks.json
  packages/redwood/package.json
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/02-create-redwood-app/.env.defaults
  packages/redwood/test/fixtures/02-create-redwood-app/.gitignore
  packages/redwood/test/fixtures/02-create-redwood-app/LICENSE
  packages/redwood/test/fixtures/02-create-redwood-app/README.md
  packages/redwood/test/fixtures/02-create-redwood-app/api/.babelrc.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/jest.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/jsconfig.json
  packages/redwood/test/fixtures/02-create-redwood-app/api/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/api/prisma/schema.prisma
  packages/redwood/test/fixtures/02-create-redwood-app/api/prisma/seeds.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/functions/graphql.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/graphql/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/lib/db.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/services/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/babel.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/prettier.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/02-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/02-create-redwood-app/web/.babelrc.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/jest.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/jsconfig.json
  packages/redwood/test/fixtures/02-create-redwood-app/web/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/web/public/README.md
  packages/redwood/test/fixtures/02-create-redwood-app/web/public/favicon.png
  packages/redwood/test/fixtures/02-create-redwood-app/web/public/robots.txt
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/Routes.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/components/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/index.css
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/index.html
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/index.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/layouts/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/redwood/test/fixtures/02-create-redwood-app/yarn.lock
Owners: @AndyBitz, @TooTallNate

Publish Canary
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @TooTallNate, @rdev, @styfle

[tests] Increase git fetch depth to support git 2.28 (#5032)
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
Owners: @AndyBitz, @styfle

[build-utils][frameworks] Add support for runtime properties (#5034)
  .github/workflows/test-unit.yml
  packages/frameworks/frameworks.json
  packages/frameworks/index.d.ts
  packages/frameworks/test/frameworks.unit.test.ts
  packages/now-build-utils/package.json
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-build-utils/tsconfig.json
Owners: @AndyBitz, @styfle, @TooTallNate

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev

[cli][redwood] Update frontend framework detection in `vc dev` (#5036)
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/server.ts
  packages/redwood/src/index.ts
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/redwood/package.json
Owners: @TooTallNate

[routing-utils] Update rewrite params query appending (#5040)
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-routing-utils/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @dav-is

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

Remove unused dependencies (#5042)
  packages/now-cli/package.json
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-routing-utils/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @dav-is

[next] Fix trailing slash and 404 with next export (#5048)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-trailing-slash-add-export/next.config.js
  packages/now-next/test/fixtures/00-trailing-slash-add-export/now.json
  packages/now-next/test/fixtures/00-trailing-slash-add-export/package.json
  packages/now-next/test/fixtures/00-trailing-slash-add-export/pages/404.js
  packages/now-next/test/fixtures/00-trailing-slash-add-export/pages/foo.js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-next/package.json
Owners: @Timer, @ijjk

Publish Stable
  packages/now-next/package.json
Owners: @Timer, @ijjk

[cli] Fix update message (#5051)
  packages/now-cli/src/index.js
Owners: @TooTallNate

[cli] Remove unused dependencies (#5052)
  packages/now-cli/@types/which-promise/index.d.ts
  packages/now-cli/package.json
  packages/now-cli/src/index.js
  packages/now-cli/src/util/get-files.ts
  packages/now-cli/src/util/ignored.ts
  packages/now-cli/src/util/output/table.js
  packages/now-cli/test/dev/integration.js
  yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[routing-utils] Attempt normal path-to-regexp replacing before custom (#5053)
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Owners: @styfle, @dav-is, @ijjk

Publish canary
  packages/now-next/package.json
  packages/now-routing-utils/package.json
Owners: @Timer, @ijjk, @styfle, @dav-is

Publish Canary
  packages/now-next/package.json
  packages/now-routing-utils/package.json
Owners: @Timer, @ijjk, @styfle, @dav-is

Publish Stable
  packages/now-next/package.json
Owners: @Timer, @ijjk

Publish canary
  packages/now-routing-utils/package.json
Owners: @styfle, @dav-is, @ijjk

[node] Add `res.redirect()` helper method (#4947)
  packages/now-node/src/helpers.ts
  packages/now-node/src/types.ts
  packages/now-node/test/helpers.test.js
Owners: @styfle, @TooTallNate, @lucleray

[cli] Always show renewal price for `domains inspect` (#5060)
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/test/integration.js
Owners: @javivelasco, @mglagola, @anatrajkovska, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-routing-utils/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @lucleray, @dav-is

[client][cli] Add Learn More Option to Warnings (#5022)
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/deploy.ts
Owners: @TooTallNate, @rdev, @styfle

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @TooTallNate, @rdev, @styfle

[redwood] Add support for `functions` and `apiProxyPath` config (#5063)
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/functions/memory.js
  packages/redwood/test/fixtures/01-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/02-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/16-create-redwood-app/.env.defaults
  packages/redwood/test/fixtures/16-create-redwood-app/.gitignore
  packages/redwood/test/fixtures/16-create-redwood-app/LICENSE
  packages/redwood/test/fixtures/16-create-redwood-app/README.md
  packages/redwood/test/fixtures/16-create-redwood-app/api/.babelrc.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/jest.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/jsconfig.json
  packages/redwood/test/fixtures/16-create-redwood-app/api/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/api/prisma/schema.prisma
  packages/redwood/test/fixtures/16-create-redwood-app/api/prisma/seeds.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/functions/graphql.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/graphql/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/lib/db.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/services/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/babel.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/prettier.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/16-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/16-create-redwood-app/web/.babelrc.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/jest.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/jsconfig.json
  packages/redwood/test/fixtures/16-create-redwood-app/web/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/web/public/README.md
  packages/redwood/test/fixtures/16-create-redwood-app/web/public/favicon.png
  packages/redwood/test/fixtures/16-create-redwood-app/web/public/robots.txt
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/Routes.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/components/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/index.css
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/index.html
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/index.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/layouts/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/redwood/test/fixtures/16-create-redwood-app/yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/redwood/package.json
Owners: @TooTallNate

[cli][build-utils] Use `handle: error` for api 404 (#5064)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/src/util/dev/server.ts
Owners: @styfle, @AndyBitz, @TooTallNate

[build-utils] Fix framework "Other" with Next.js for old projects (#5074)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

Publish Stable
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-routing-utils/package.json
  packages/now-static-build/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray, @dav-is

Revert "[build-utils] Use `handle: error` for api 404" (#5088)
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev

[next] Add test case for root optional revalidate params (#5072)
  packages/now-next/test/fixtures/00-root-optional-revalidate/additional.js
  packages/now-next/test/fixtures/00-root-optional-revalidate/now.json
  packages/now-next/test/fixtures/00-root-optional-revalidate/package.json
  packages/now-next/test/fixtures/00-root-optional-revalidate/pages/[[...slug]].js
Owners: @Timer, @ijjk

[examples] Update README Files (#5092)
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/custom-build/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/umijs/README.md
Owners: @mcsdevv, @timothyis, @Timer, @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
