Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @AndyBitz, @tootallnate, @lucleray, @timer, @sophearak, @coetry, @nathancahill, @dav-is

[now-go] Use ncc before publishing to npm (#876)
  packages/now-go/.gitignore
  packages/now-go/.npmignore
  packages/now-go/build.sh
  packages/now-go/package.json
Owners: @styfle, @sophearak

[now-ruby] Use ncc before publishing to npm (#877)
  packages/now-ruby/build.sh
  packages/now-ruby/package.json
Owners: @styfle, @coetry, @nathancahill

[now-python] Use ncc before publishing to npm (#875)
  packages/now-python/build.sh
  packages/now-python/package.json
Owners: @styfle, @sophearak

[now-build-utils] Default to Node 10 for zero config (#773)
  packages/now-build-utils/src/fs/run-user-scripts.ts
Owners: @styfle, @AndyBitz

[now-node][now-next][now-static-build] Enable node 10 for zero c… (#879)
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
Owners: @timer, @styfle, @tootallnate, @lucleray, @AndyBitz

[now-bash] Move source code to external repository (#887)
  packages/now-bash/.editorconfig
  packages/now-bash/.gitignore
  packages/now-bash/bootstrap
  packages/now-bash/builder.sh
  packages/now-bash/index.js
  packages/now-bash/package.json
  packages/now-bash/runtime.sh
  packages/now-bash/test/fixtures/01-cowsay/index.sh
  packages/now-bash/test/fixtures/01-cowsay/now.json
  packages/now-bash/test/fixtures/01-cowsay/subdirectory/index.sh
  packages/now-bash/test/test.js
  packages/now-build-utils/test/test.js
  yarn.lock
Owners: @styfle, @AndyBitz

[docs] Add Builders Developer Reference (#888)
  DEVELOPING_A_BUILDER.md
  README.md
Owners: @styfle

Publish
  packages/now-build-utils/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
Owners: @styfle, @AndyBitz, @sophearak, @timer, @tootallnate, @lucleray, @coetry, @nathancahill

[now deploy] Use the project when checking the platform version (#2722)
  src/commands/deploy/index.js
  src/util/prefer-v2-deployment.ts
Owners: @styfle

16.1.2-canary.2
  package.json
Owners: @styfle

[now deploy] Use the project when checking the platform version (#2722)
  src/commands/deploy/index.js
  src/util/prefer-v2-deployment.ts
Owners: @styfle

16.1.1
  package.json
Owners: @styfle

Remove vestigial `mkdirp` packages (#2724)
  package.json
  yarn.lock
Owners: @styfle

[CircleCI] Fix `test/dev-server.unit.js` being run on CI (#2725)
  .circleci/config.yml
  package.json
Owners: @styfle

[now-static-build] Capture file system routes for CRA apps (#891)
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/12-create-react-app/now.json
  packages/now-static-build/test/fixtures/12-create-react-app/public/testing-output-dir.txt
Owners: @styfle, @AndyBitz

Publish
  packages/now-static-build/package.json
Owners: @styfle, @AndyBitz

Add automerge config (#2729)
  .kodiak.toml
Owners: @styfle

Add `accept: application/json` header to API HTTP requests (#2726)
  src/util/index.js
Owners: @styfle

Print HTTP status code upon API JSON parse errors (#2727)
  src/util/index.js
Owners: @styfle

Update `serve-handler` to v6.1.1 (#2731)
  package.json
  test/dev-server.unit.js
  yarn.lock
Owners: @styfle

[now update] Show correct global or local install command (#2719)
  src/util/get-update-command.ts
  test/integration.js
Owners: @styfle

[tests] Add automerge (#893)
  .kodiak.toml
Owners: @styfle

[now-node][now-next] Bump node-file-trace to 0.2.7 (#892)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @timer, @styfle, @tootallnate, @lucleray

[now-node] Fix windows typescript entrypoint bug (#899)
  packages/now-node/src/index.ts
Owners: @styfle, @tootallnate, @lucleray

[now-routing-utils] Allow the combined use of continue and dest (#897)
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Owners: @dav-is

[now-go] Fix go concurrent/parallel builds (#900)
  packages/now-go/build.sh
  packages/now-go/package.json
  packages/now-go/test/fixtures/02-parallel/api/go-one/one.go
  packages/now-go/test/fixtures/02-parallel/api/go-two/two.go
  packages/now-go/test/fixtures/02-parallel/api/go.mod
  packages/now-go/test/fixtures/02-parallel/now.json
Owners: @styfle, @sophearak

Publish
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-routing-utils/package.json
Owners: @styfle, @sophearak, @timer, @tootallnate, @lucleray, @dav-is

Update index.js (#2733)
  src/util/index.js
Owners: @styfle

[now dev] Add `--listen` / `-l` flag, deprecate `--port` / `-p` (#2720)
  src/commands/dev/dev.ts
  src/commands/dev/index.ts
  src/util/dev/parse-listen.ts
  src/util/dev/server.ts
  src/util/dev/types.ts
  test/dev-server.unit.js
  test/dev/integration.js
Owners: @styfle

[now dev] Remove leftover `console.error()` call (#2735)
  src/util/dev/server.ts
Owners: @styfle

[now-build-utils] Fix 404 trailing slash for index files and add tests (#904)
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/fixtures/01-zero-config-api/.gitignore
  packages/now-build-utils/test/fixtures/01-zero-config-api/api/[endpoint].js
  packages/now-build-utils/test/fixtures/01-zero-config-api/api/[endpoint]/[id].js
  packages/now-build-utils/test/fixtures/01-zero-config-api/package.json
  packages/now-build-utils/test/fixtures/02-zero-config-api/.gitignore
  packages/now-build-utils/test/fixtures/02-zero-config-api/api/date.js
  packages/now-build-utils/test/fixtures/02-zero-config-api/api/date/index.js
  packages/now-build-utils/test/fixtures/02-zero-config-api/api/index.js
  packages/now-build-utils/test/fixtures/02-zero-config-api/package.json
  packages/now-build-utils/test/test.js
  test/lib/deployment/test-deployment.js
Owners: @styfle, @AndyBitz

Publish
  packages/now-build-utils/package.json
Owners: @styfle, @AndyBitz

Bump `@now/build-utils` to 0.9.12 (#2736)
  package.json
  yarn.lock
Owners: @styfle

Update `clipboardy` to v2.1.0 (#2737)
  package.json
  yarn.lock
Owners: @styfle

support to set api host for development (#2748)
  src/util/agent.ts
  src/util/client.ts
Owners: @styfle

remove unused HTTP/HTTPS Agent (#2749)
  src/util/agent.ts
Owners: @styfle

[now projects] Add subcommand alias for `now project` (#2750)
  src/commands/index.js
Owners: @styfle

[now-next] Add Serverless Trace to Next.js Builder (#884)
  .eslintignore
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/src/templated-launcher.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/02-firebase/next.config.js
  packages/now-next/test/fixtures/02-firebase/now.json
  packages/now-next/test/fixtures/02-firebase/package.json
  packages/now-next/test/fixtures/02-firebase/pages/nested/fb.js
  packages/now-next/test/fixtures/02-firebase/pages/nested/moar/fb.js
  packages/now-next/test/fixtures/03-next-8/next.config.js
  packages/now-next/test/fixtures/03-next-8/now.json
  packages/now-next/test/fixtures/03-next-8/package.json
  packages/now-next/test/fixtures/03-next-8/pages/hello1.js
  packages/now-next/test/fixtures/03-next-8/pages/nested/hello2.js
Owners: @styfle, @timer

Disable compression for Zips (#901)
  packages/now-build-utils/src/lambda.ts
Owners: @styfle, @AndyBitz

Next.js experimental for `canary` only (#910)
  packages/now-next/src/create-serverless-config.ts
Owners: @timer

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                         @styfle
/packages/now-build-utils @styfle @AndyBitz
/packages/now-node        @styfle @tootallnate @lucleray
/packages/now-node-bridge @styfle @tootallnate @lucleray
/packages/now-next        @timer
/packages/now-go          @styfle @sophearak
/packages/now-python      @styfle @sophearak
/packages/now-ruby        @styfle @coetry @nathancahill
/packages/now-static-build @styfle @AndyBitz
/packages/now-routing-utils @dav-is
