Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @tootallnate, @lucleray, @timer, @sophearak, @mike-engel, @anmonteiro, @coetry, @nathancahill

[now-node-server] Remove package source code (#721)
  packages/now-node-server/.npmignore
  packages/now-node-server/index.js
  packages/now-node-server/launcher.js
  packages/now-node-server/package.json
  packages/now-node-server/test/fixtures/01-cowsay/index.js
  packages/now-node-server/test/fixtures/01-cowsay/now.json
  packages/now-node-server/test/fixtures/01-cowsay/package.json
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/index.js
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/package.json
  packages/now-node-server/test/fixtures/03-env-vars/build-env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/now-build.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/package.json
  packages/now-node-server/test/fixtures/03-env-vars/env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/now.json
  packages/now-node-server/test/fixtures/06-content-type/index.js
  packages/now-node-server/test/fixtures/06-content-type/now.json
  packages/now-node-server/test/fixtures/06-content-type/probe.js
  packages/now-node-server/test/fixtures/08-assets/index.js
  packages/now-node-server/test/fixtures/08-assets/now.json
  packages/now-node-server/test/fixtures/08-assets/subdirectory1/asset.txt
  packages/now-node-server/test/fixtures/08-assets/subdirectory2/asset.txt
  packages/now-node-server/test/fixtures/09-no-bundle/now.json
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/10-others/apollo/index.js
  packages/now-node-server/test/fixtures/10-others/apollo/package.json
  packages/now-node-server/test/fixtures/10-others/now.json
  packages/now-node-server/test/fixtures/11-include-files/accepts-string/index.js
  packages/now-node-server/test/fixtures/11-include-files/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
  packages/now-node-server/test/fixtures/11-include-files/package.json
  packages/now-node-server/test/fixtures/11-include-files/templates/index.html
  packages/now-node-server/test/test.js
  packages/now-node/src/helpers.ts
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Remove deprecated builders (#733)
  packages/now-html-minifier/.yarnrc
  packages/now-html-minifier/index.js
  packages/now-html-minifier/package.json
  packages/now-html-minifier/yarn.lock
  packages/now-md/.npmignore
  packages/now-md/index.js
  packages/now-md/package.json
  packages/now-md/test/fixtures/01-cowsay/index.md
  packages/now-md/test/fixtures/01-cowsay/now.json
  packages/now-md/test/fixtures/01-cowsay/subdirectory/index.md
  packages/now-md/test/test.js
  packages/now-md/yarn.lock
  packages/now-mdx-deck/.npmignore
  packages/now-mdx-deck/index.js
  packages/now-mdx-deck/package.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/index.mdx
  packages/now-mdx-deck/test/fixtures/01-cowsay/now.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/subdirectory/index.mdx
  packages/now-mdx-deck/test/test.js
  packages/now-node/src/example-import.ts
  packages/now-optipng/.gitignore
  packages/now-optipng/package.json
  packages/now-optipng/src/index.ts
  packages/now-optipng/test/fixtures/01-cowsay/now.json
  packages/now-optipng/test/fixtures/01-cowsay/showcase.png
  packages/now-optipng/test/fixtures/01-cowsay/subdirectory/naruto.png
  packages/now-optipng/test/test.js
  packages/now-optipng/tsconfig.json
  packages/now-optipng/types/multipipe.d.ts
  packages/now-optipng/types/optipng.d.ts
  packages/now-wordpress/.npmignore
  packages/now-wordpress/index.js
  packages/now-wordpress/package.json
  packages/now-wordpress/test/fixtures/20-minimal/ca.pem
  packages/now-wordpress/test/fixtures/20-minimal/now.json
  packages/now-wordpress/test/fixtures/20-minimal/wp-config.php
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Publish
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Revert "Publish"
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Add --pure-lockfile option (#737)
  .github/main.workflow
Owners: @styfle

Publish
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Revert "Publish"
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Use --pure-lockfile on build (#738)
  .github/main.workflow
Owners: @styfle

Publish
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Revert "Publish"
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Revert "[now-node-server] Remove package source code (#721)"
  packages/now-node-server/.npmignore
  packages/now-node-server/index.js
  packages/now-node-server/launcher.js
  packages/now-node-server/package.json
  packages/now-node-server/test/fixtures/01-cowsay/index.js
  packages/now-node-server/test/fixtures/01-cowsay/now.json
  packages/now-node-server/test/fixtures/01-cowsay/package.json
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/index.js
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/package.json
  packages/now-node-server/test/fixtures/03-env-vars/build-env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/now-build.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/package.json
  packages/now-node-server/test/fixtures/03-env-vars/env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/now.json
  packages/now-node-server/test/fixtures/06-content-type/index.js
  packages/now-node-server/test/fixtures/06-content-type/now.json
  packages/now-node-server/test/fixtures/06-content-type/probe.js
  packages/now-node-server/test/fixtures/08-assets/index.js
  packages/now-node-server/test/fixtures/08-assets/now.json
  packages/now-node-server/test/fixtures/08-assets/subdirectory1/asset.txt
  packages/now-node-server/test/fixtures/08-assets/subdirectory2/asset.txt
  packages/now-node-server/test/fixtures/09-no-bundle/now.json
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/10-others/apollo/index.js
  packages/now-node-server/test/fixtures/10-others/apollo/package.json
  packages/now-node-server/test/fixtures/10-others/now.json
  packages/now-node-server/test/fixtures/11-include-files/accepts-string/index.js
  packages/now-node-server/test/fixtures/11-include-files/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
  packages/now-node-server/test/fixtures/11-include-files/package.json
  packages/now-node-server/test/fixtures/11-include-files/templates/index.html
  packages/now-node-server/test/test.js
  packages/now-node/src/helpers.ts
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Revert "Remove deprecated builders (#733)"
  packages/now-html-minifier/.yarnrc
  packages/now-html-minifier/index.js
  packages/now-html-minifier/package.json
  packages/now-html-minifier/yarn.lock
  packages/now-md/.npmignore
  packages/now-md/index.js
  packages/now-md/package.json
  packages/now-md/test/fixtures/01-cowsay/index.md
  packages/now-md/test/fixtures/01-cowsay/now.json
  packages/now-md/test/fixtures/01-cowsay/subdirectory/index.md
  packages/now-md/test/test.js
  packages/now-md/yarn.lock
  packages/now-mdx-deck/.npmignore
  packages/now-mdx-deck/index.js
  packages/now-mdx-deck/package.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/index.mdx
  packages/now-mdx-deck/test/fixtures/01-cowsay/now.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/subdirectory/index.mdx
  packages/now-mdx-deck/test/test.js
  packages/now-node/src/example-import.ts
  packages/now-optipng/.gitignore
  packages/now-optipng/package.json
  packages/now-optipng/src/index.ts
  packages/now-optipng/test/fixtures/01-cowsay/now.json
  packages/now-optipng/test/fixtures/01-cowsay/showcase.png
  packages/now-optipng/test/fixtures/01-cowsay/subdirectory/naruto.png
  packages/now-optipng/test/test.js
  packages/now-optipng/tsconfig.json
  packages/now-optipng/types/multipipe.d.ts
  packages/now-optipng/types/optipng.d.ts
  packages/now-wordpress/.npmignore
  packages/now-wordpress/index.js
  packages/now-wordpress/package.json
  packages/now-wordpress/test/fixtures/20-minimal/ca.pem
  packages/now-wordpress/test/fixtures/20-minimal/now.json
  packages/now-wordpress/test/fixtures/20-minimal/wp-config.php
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

[now-node-server] Remove package source code (#721)
  packages/now-node-server/.npmignore
  packages/now-node-server/index.js
  packages/now-node-server/launcher.js
  packages/now-node-server/package.json
  packages/now-node-server/test/fixtures/01-cowsay/index.js
  packages/now-node-server/test/fixtures/01-cowsay/now.json
  packages/now-node-server/test/fixtures/01-cowsay/package.json
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/index.js
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/package.json
  packages/now-node-server/test/fixtures/03-env-vars/build-env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/now-build.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/package.json
  packages/now-node-server/test/fixtures/03-env-vars/env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/now.json
  packages/now-node-server/test/fixtures/06-content-type/index.js
  packages/now-node-server/test/fixtures/06-content-type/now.json
  packages/now-node-server/test/fixtures/06-content-type/probe.js
  packages/now-node-server/test/fixtures/08-assets/index.js
  packages/now-node-server/test/fixtures/08-assets/now.json
  packages/now-node-server/test/fixtures/08-assets/subdirectory1/asset.txt
  packages/now-node-server/test/fixtures/08-assets/subdirectory2/asset.txt
  packages/now-node-server/test/fixtures/09-no-bundle/now.json
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/10-others/apollo/index.js
  packages/now-node-server/test/fixtures/10-others/apollo/package.json
  packages/now-node-server/test/fixtures/10-others/now.json
  packages/now-node-server/test/fixtures/11-include-files/accepts-string/index.js
  packages/now-node-server/test/fixtures/11-include-files/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
  packages/now-node-server/test/fixtures/11-include-files/package.json
  packages/now-node-server/test/fixtures/11-include-files/templates/index.html
  packages/now-node-server/test/test.js
  packages/now-node/src/helpers.ts
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Remove deprecated builders (#733)
  packages/now-html-minifier/.yarnrc
  packages/now-html-minifier/index.js
  packages/now-html-minifier/package.json
  packages/now-html-minifier/yarn.lock
  packages/now-md/.npmignore
  packages/now-md/index.js
  packages/now-md/package.json
  packages/now-md/test/fixtures/01-cowsay/index.md
  packages/now-md/test/fixtures/01-cowsay/now.json
  packages/now-md/test/fixtures/01-cowsay/subdirectory/index.md
  packages/now-md/test/test.js
  packages/now-md/yarn.lock
  packages/now-mdx-deck/.npmignore
  packages/now-mdx-deck/index.js
  packages/now-mdx-deck/package.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/index.mdx
  packages/now-mdx-deck/test/fixtures/01-cowsay/now.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/subdirectory/index.mdx
  packages/now-mdx-deck/test/test.js
  packages/now-node/src/example-import.ts
  packages/now-optipng/.gitignore
  packages/now-optipng/package.json
  packages/now-optipng/src/index.ts
  packages/now-optipng/test/fixtures/01-cowsay/now.json
  packages/now-optipng/test/fixtures/01-cowsay/showcase.png
  packages/now-optipng/test/fixtures/01-cowsay/subdirectory/naruto.png
  packages/now-optipng/test/test.js
  packages/now-optipng/tsconfig.json
  packages/now-optipng/types/multipipe.d.ts
  packages/now-optipng/types/optipng.d.ts
  packages/now-wordpress/.npmignore
  packages/now-wordpress/index.js
  packages/now-wordpress/package.json
  packages/now-wordpress/test/fixtures/20-minimal/ca.pem
  packages/now-wordpress/test/fixtures/20-minimal/now.json
  packages/now-wordpress/test/fixtures/20-minimal/wp-config.php
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Publish
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Revert "Publish"
  packages/now-build-utils/package.json
  packages/now-node/package.json
Owners: @styfle, @tootallnate, @lucleray

Revert "[now-node-server] Remove package source code (#721)"
  packages/now-node-server/.npmignore
  packages/now-node-server/index.js
  packages/now-node-server/launcher.js
  packages/now-node-server/package.json
  packages/now-node-server/test/fixtures/01-cowsay/index.js
  packages/now-node-server/test/fixtures/01-cowsay/now.json
  packages/now-node-server/test/fixtures/01-cowsay/package.json
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/index.js
  packages/now-node-server/test/fixtures/01-cowsay/subdirectory/package.json
  packages/now-node-server/test/fixtures/03-env-vars/build-env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/now-build.js
  packages/now-node-server/test/fixtures/03-env-vars/build-env/package.json
  packages/now-node-server/test/fixtures/03-env-vars/env/index.js
  packages/now-node-server/test/fixtures/03-env-vars/now.json
  packages/now-node-server/test/fixtures/06-content-type/index.js
  packages/now-node-server/test/fixtures/06-content-type/now.json
  packages/now-node-server/test/fixtures/06-content-type/probe.js
  packages/now-node-server/test/fixtures/08-assets/index.js
  packages/now-node-server/test/fixtures/08-assets/now.json
  packages/now-node-server/test/fixtures/08-assets/subdirectory1/asset.txt
  packages/now-node-server/test/fixtures/08-assets/subdirectory2/asset.txt
  packages/now-node-server/test/fixtures/09-no-bundle/now.json
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/with-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/index.js
  packages/now-node-server/test/fixtures/09-no-bundle/without-bundle/is-bundled.js
  packages/now-node-server/test/fixtures/10-others/apollo/index.js
  packages/now-node-server/test/fixtures/10-others/apollo/package.json
  packages/now-node-server/test/fixtures/10-others/now.json
  packages/now-node-server/test/fixtures/11-include-files/accepts-string/index.js
  packages/now-node-server/test/fixtures/11-include-files/index.js
  packages/now-node-server/test/fixtures/11-include-files/now.json
  packages/now-node-server/test/fixtures/11-include-files/package.json
  packages/now-node-server/test/fixtures/11-include-files/templates/index.html
  packages/now-node-server/test/test.js
  packages/now-node/src/helpers.ts
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Revert "Remove deprecated builders (#733)"
  packages/now-html-minifier/.yarnrc
  packages/now-html-minifier/index.js
  packages/now-html-minifier/package.json
  packages/now-html-minifier/yarn.lock
  packages/now-md/.npmignore
  packages/now-md/index.js
  packages/now-md/package.json
  packages/now-md/test/fixtures/01-cowsay/index.md
  packages/now-md/test/fixtures/01-cowsay/now.json
  packages/now-md/test/fixtures/01-cowsay/subdirectory/index.md
  packages/now-md/test/test.js
  packages/now-md/yarn.lock
  packages/now-mdx-deck/.npmignore
  packages/now-mdx-deck/index.js
  packages/now-mdx-deck/package.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/index.mdx
  packages/now-mdx-deck/test/fixtures/01-cowsay/now.json
  packages/now-mdx-deck/test/fixtures/01-cowsay/subdirectory/index.mdx
  packages/now-mdx-deck/test/test.js
  packages/now-node/src/example-import.ts
  packages/now-optipng/.gitignore
  packages/now-optipng/package.json
  packages/now-optipng/src/index.ts
  packages/now-optipng/test/fixtures/01-cowsay/now.json
  packages/now-optipng/test/fixtures/01-cowsay/showcase.png
  packages/now-optipng/test/fixtures/01-cowsay/subdirectory/naruto.png
  packages/now-optipng/test/test.js
  packages/now-optipng/tsconfig.json
  packages/now-optipng/types/multipipe.d.ts
  packages/now-optipng/types/optipng.d.ts
  packages/now-wordpress/.npmignore
  packages/now-wordpress/index.js
  packages/now-wordpress/package.json
  packages/now-wordpress/test/fixtures/20-minimal/ca.pem
  packages/now-wordpress/test/fixtures/20-minimal/now.json
  packages/now-wordpress/test/fixtures/20-minimal/wp-config.php
  yarn.lock
Owners: @styfle, @tootallnate, @lucleray

Publish
  packages/now-build-utils/package.json
Owners: @styfle

[now dev] Update @now/build-utils and handle warnings (#2523)
  package.json
  src/util/dev/server.ts
  src/util/index.js
  yarn.lock
Owners: @styfle

15.7.0-canary.15
  package.json
Owners: @styfle

[now-next] Create a serverless config by creating a new config (#688)
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/serverless-config-async/next.config.js
  packages/now-next/test/integration/serverless-config-async/now.json
  packages/now-next/test/integration/serverless-config-async/package.json
  packages/now-next/test/integration/serverless-config-async/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-async/pages/index.js
  packages/now-next/test/integration/serverless-config-object/next.config.js
  packages/now-next/test/integration/serverless-config-object/now.json
  packages/now-next/test/integration/serverless-config-object/package.json
  packages/now-next/test/integration/serverless-config-object/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-object/pages/index.js
  packages/now-next/test/integration/serverless-config-promise/next.config.js
  packages/now-next/test/integration/serverless-config-promise/now.json
  packages/now-next/test/integration/serverless-config-promise/package.json
  packages/now-next/test/integration/serverless-config-promise/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-promise/pages/index.js
  packages/now-next/test/integration/serverless-config/next.config.js
  packages/now-next/test/integration/serverless-config/now.json
  packages/now-next/test/integration/serverless-config/package.json
  packages/now-next/test/integration/serverless-config/pages/goodbye.js
  packages/now-next/test/integration/serverless-config/pages/index.js
  packages/now-next/test/integration/serverless-no-config/now.json
  packages/now-next/test/integration/serverless-no-config/package.json
  packages/now-next/test/integration/serverless-no-config/pages/goodbye.js
  packages/now-next/test/integration/serverless-no-config/pages/index.js
  test/lib/run-build-lambda.js
Owners: @timer, @styfle

Publish
  packages/now-next/package.json
Owners: @timer

[now dev] Render directory listing for Now v2 projects (#2528)
  @types/serve-handler/index.d.ts
  src/util/dev/server.ts
  test/dev-server.unit.js
  test/fixtures/unit/now-dev-directory-listing/file.txt
  test/fixtures/unit/now-dev-directory-listing/lambda.js
  test/fixtures/unit/now-dev-directory-listing/now.json
  test/fixtures/unit/now-dev-static-routes/now.json
  test/fixtures/unit/now-dev-static-routes/www/index.html
Owners: @styfle

15.7.0-canary.16
  package.json
Owners: @styfle

Remove "missing `alias` in now.json" warning (#2533)
  src/commands/deploy/latest.js
Owners: @styfle

[now-static-build] Fix warning and framework support (#750)
  packages/now-build-utils/src/detect-builder.ts
  packages/now-build-utils/test/test.js
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/14-angular-configured/.editorconfig
  packages/now-static-build/test/fixtures/14-angular-configured/.gitignore
  packages/now-static-build/test/fixtures/14-angular-configured/README.md
  packages/now-static-build/test/fixtures/14-angular-configured/angular.json
  packages/now-static-build/test/fixtures/14-angular-configured/browserslist
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/protractor.conf.js
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/src/app.e2e-spec.ts
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/src/app.po.ts
  packages/now-static-build/test/fixtures/14-angular-configured/e2e/tsconfig.json
  packages/now-static-build/test/fixtures/14-angular-configured/karma.conf.js
  packages/now-static-build/test/fixtures/14-angular-configured/now.json
  packages/now-static-build/test/fixtures/14-angular-configured/package.json
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.css
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.html
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.spec.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.component.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/app/app.module.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/assets/.gitkeep
  packages/now-static-build/test/fixtures/14-angular-configured/src/environments/environment.prod.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/environments/environment.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/favicon.ico
  packages/now-static-build/test/fixtures/14-angular-configured/src/index.html
  packages/now-static-build/test/fixtures/14-angular-configured/src/main.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/polyfills.ts
  packages/now-static-build/test/fixtures/14-angular-configured/src/styles.css
  packages/now-static-build/test/fixtures/14-angular-configured/src/test.ts
  packages/now-static-build/test/fixtures/14-angular-configured/tsconfig.app.json
  packages/now-static-build/test/fixtures/14-angular-configured/tsconfig.json
  packages/now-static-build/test/fixtures/14-angular-configured/tsconfig.spec.json
  packages/now-static-build/test/fixtures/14-angular-configured/tslint.json
  packages/now-static-build/test/fixtures/14-angular-configured/yarn.lock
  packages/now-static-build/test/fixtures/16-hexo/now.json
  packages/now-static-build/test/fixtures/16-hexo/package.json
  packages/now-static-build/test/test.js
  test/lib/deployment/test-deployment.js
Owners: @styfle

Publish
  packages/now-build-utils/package.json
  packages/now-static-build/package.json
Owners: @styfle

Increase default maxLambdaSize (#2534)
  src/util/dev/builder.ts
Owners: @styfle

15.7.0-canary.17
  package.json
  test/dev/fixtures/00-list-directory/directory/hello.md
  test/dev/fixtures/00-list-directory/test1.txt
  test/dev/fixtures/00-list-directory/test2.txt
  test/dev/fixtures/00-list-directory/test3.txt
  test/dev/integration.js
Owners: @styfle

Disable automatic signup (#2530)
  src/commands/login.js
  src/util/errors-ts.ts
  src/util/login/login.ts
  test/helpers/prepare.js
  test/integration.js
Owners: @styfle

15.7.0-canary.18
  package.json
Owners: @styfle

[now dev] Install missing builders during runtime (#2509)
  src/util/dev/builder-cache.ts
  src/util/dev/builder.ts
  src/util/dev/server.ts
Owners: @styfle

[now dev] Set Now response headers when proxy passing in `routes` (#2500)
  src/util/dev/server.ts
  test/dev-server.unit.js
Owners: @styfle

[now dev] Add support for deployments without `now.json` (#2498)
  package.json
  src/util/dev/builder.ts
  src/util/dev/server.ts
  src/util/get-files.ts
  test/dev-server.unit.js
  test/fixtures/unit/now-dev-default-builds-and-routes/api/[endpoint].js
  test/fixtures/unit/now-dev-default-builds-and-routes/api/[endpoint]/[id].js
  test/fixtures/unit/now-dev-default-builds-and-routes/api/welcome.js
  test/fixtures/unit/now-dev-default-builds-and-routes/package.json
  test/fixtures/unit/now-dev-default-builds-and-routes/pages/index.js
  yarn.lock
Owners: @styfle

Bump @now/build-utils (#2535)
  package.json
  yarn.lock
Owners: @styfle

[now dev] Add test case for lazily installing builders (#2510)
  src/util/dev/builder-cache.ts
  test/dev-builder.unit.js
Owners: @styfle

Throw an error if `dev` scripts contain `now dev` in package.json (#2507)
  src/commands/dev/index.ts
  src/util/dev/types.ts
Owners: @styfle

Improve `now dev` output message (#2506)
  src/util/dev/builder.ts
  src/util/dev/server.ts
Owners: @styfle

Simplify builds output message (#2512)
  src/commands/deploy/latest.js
  test/integration.js
Owners: @styfle

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                         @styfle
/packages/now-node        @styfle @tootallnate @lucleray
/packages/now-node-bridge @styfle @tootallnate @lucleray
/packages/now-next        @timer
/packages/now-go          @styfle @sophearak
/packages/now-python      @styfle @sophearak
/packages/now-rust        @styfle @mike-engel @anmonteiro
/packages/now-ruby        @styfle @coetry @nathancahill
