Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

[cli] Invalidate the configuration if `vercel.json` is deleted (#4629)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/invalidate-vercel-config/api/index.js
  packages/now-cli/test/dev/fixtures/invalidate-vercel-config/vercel.json
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

[client] Fix `.vercelignore` override default ignore list (#4627)
  packages/now-client/.gitignore
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/.env.local
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/.vercelignore
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/exclude.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/hello.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/node_modules/one.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/sub/include.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/sub/node_modules/two.txt
  packages/now-client/tests/unit.utils.test.ts
Owners: @rdev, @styfle, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
Owners: @TooTallNate, @rdev, @styfle

Publish Stable
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cgi/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node-bridge/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-routing-utils/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray, @dav-is, @coetry

[cli] Add test for gatsby cache (#4447)
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[tests] Don't revoke `VERCEL_TOKEN` after tests run (#4643)
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[node] Don't resolve "typescript" from the dist dir (#4655)
  packages/now-node/src/dev-server.ts
Owners: @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/now-cli/package.json
  packages/now-node/package.json
Owners: @TooTallNate, @styfle, @lucleray

[cli] Add a test case for resolving default "typescript" version in `@vercel/node` (#4656)
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate

[next] Update dynamic route named regexes and route keys (#4355)
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/10-export-cache-headers/now.json
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/catchall-dash/[...hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/dash/[hello-world].js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli] Fix `vc dev` proxy to upstream frontend dev server (#4644)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/06-gridsome/package.json
  packages/now-cli/test/dev/fixtures/06-gridsome/src/pages/404.vue
  packages/now-cli/test/dev/fixtures/06-gridsome/src/pages/Index.vue
  packages/now-cli/test/dev/fixtures/06-gridsome/vercel.json
  packages/now-cli/test/dev/fixtures/07-hexo-node/source/contact.html
  packages/now-cli/test/dev/fixtures/07-hexo-node/vercel.json
  packages/now-cli/test/dev/fixtures/10-nextjs-node/pages/contact.js
  packages/now-cli/test/dev/fixtures/10-nextjs-node/vercel.json
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[next] Update handling experimental basePath (#3791)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/16-base-path/now.json
Owners: @Timer, @ijjk

[node][next] Bump node-file-trace to 0.6.4 (#4617)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @Timer, @ijjk, @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @lucleray

[static-build] Apply Gatsby default caching routes automatically (#4645)
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/10-gatsby/now.json
Owners: @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Stable
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @lucleray, @AndyBitz

[node][next] Bump node-file-trace to 0.6.5 (#4667)
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Owners: @Timer, @ijjk, @styfle, @TooTallNate, @lucleray

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @TooTallNate, @Timer, @ijjk, @styfle, @lucleray

Fix to not render no token error, prompt login instead (#4659)
  packages/now-cli/src/index.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[ruby] Fix for UTF-8 responses in Ruby functions (#4593)
  packages/now-ruby/now_init.rb
  packages/now-ruby/test/fixtures/10-utf8-encoding-emoji/index.rb
  packages/now-ruby/test/fixtures/10-utf8-encoding-emoji/now.json
Owners: @styfle, @coetry, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-ruby/package.json
Owners: @TooTallNate, @styfle, @coetry

[next] Fix nextjs routes in `vercel dev` (#4510)
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/next.config.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/package.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/pages/blog/index.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/pages/blog/post/[id].js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/components/Header.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/package.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/1/[id].js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/[id].js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/about.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/index.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/package.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/vercel.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-next/src/utils.ts
  packages/now-next/test/unit/build.test.js
Owners: @TooTallNate, @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli] Fix error message when no internet connectivity (#4687)
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/index.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[cli] Do not confirm `vc env pull` overwrite if created by CLI (#4678)
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/test/integration.js
Owners: @styfle, @lucleray, @TooTallNate

[docs] Refactor "Developing a Runtime" docs and add `startDevServer()` (#4675)
  DEVELOPING_A_RUNTIME.md
Owners: @TooTallNate

[next] Update tests to run against latest canary (#4682)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/07-custom-routes/package.json
  packages/now-next/test/fixtures/08-custom-routes-catchall/next.config.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/now.json
  packages/now-next/test/fixtures/08-custom-routes-catchall/package.json
  packages/now-next/test/fixtures/10-export-cache-headers/now.json
  packages/now-next/test/fixtures/16-base-path/next.config.js
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/22-ssg-v2-catchall/package.json
  packages/now-next/test/fixtures/22-ssg-v2/package.json
  packages/now-next/test/fixtures/22-ssg-v2/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/a/catch-all.js
  packages/now-next/test/integration/index.test.js
  test/lib/deployment/test-deployment.js
Owners: @Timer, @ijjk, @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[cli] Improve validation error message for vercel.json (#4694)
  packages/now-cli/package.json
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/src/util/humanize-ajv-error.ts
  packages/now-cli/test/dev-validate.unit.js
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[cli] Remove caching of `vercel.json` config in `vc dev` (#4697)
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Owners: @TooTallNate, @styfle, @AndyBitz

Publish Canary
  packages/now-cli/package.json
  packages/now-go/package.json
Owners: @TooTallNate, @styfle

[cli][build-utils] Refactor ajv error message (#4705)
  packages/now-build-utils/src/errors.ts
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/src/util/humanize-ajv-error.ts
  packages/now-cli/test/dev-validate.unit.js
  packages/now-cli/test/dev/integration.js
Owners: @styfle, @AndyBitz, @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
Owners: @styfle, @AndyBitz, @TooTallNate

[next] Update revalidate tests and correct shared lambdas revalidate (#4704)
  package.json
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/additional.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/now.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/package.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/lambda.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/22-ssg-v2/additional.js
  packages/now-next/test/test.js
  yarn.lock
Owners: @TooTallNate, @Timer, @ijjk

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle
