Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @AndyBitz, @styfle, @javivelasco, @mglagola, @anatrajkovska, @lucleray, @rdev, @Timer, @ijjk, @coetry, @dav-is, @mcsdevv, @timothyis, @timneutkens

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                                        @TooTallNate
/.github/workflows                       @AndyBitz @styfle
/packages/frameworks                     @AndyBitz
/packages/now-cli/src/commands/dev       @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/util/dev           @TooTallNate @styfle @AndyBitz
/packages/now-cli/src/commands/domains   @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/certs     @javivelasco @mglagola @anatrajkovska
/packages/now-cli/src/commands/env       @styfle @lucleray
/packages/now-client                     @rdev @styfle @TooTallNate
/packages/now-build-utils                @styfle @AndyBitz @TooTallNate
/packages/now-node                       @styfle @TooTallNate @lucleray
/packages/now-node-bridge                @styfle @TooTallNate @lucleray
/packages/now-next                       @Timer @ijjk
/packages/now-go                         @styfle @TooTallNate
/packages/now-python                     @styfle @TooTallNate
/packages/now-ruby                       @styfle @coetry @TooTallNate
/packages/now-static-build               @styfle @AndyBitz
/packages/now-routing-utils              @styfle @dav-is @ijjk
/examples                                @mcsdevv @timothyis
/examples/create-react-app               @Timer
/examples/nextjs                         @timneutkens @Timer
/examples/hugo                           @mcsdevv @timothyis @styfle
/examples/jekyll                         @mcsdevv @timothyis @styfle
/examples/zola                           @mcsdevv @timothyis @styfle

[cli] Fix `vc domains ls` pagination (#5099)
  packages/now-cli/src/commands/domains/ls.ts
Owners: @javivelasco, @mglagola, @anatrajkovska

[cli] Improve startup perf - disable source maps and minification (#5100)
  packages/now-cli/scripts/build.ts
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

fix framework names (#5104)
  packages/frameworks/frameworks.json
Owners: @AndyBitz

[all] Bump ncc to 0.24.0 (#5103)
  package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-node/@types/zeit__ncc/index.d.ts
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz, @rdev, @lucleray, @coetry

[cli] Add support for the sourceFilesOutsideRootDirectory option (#5113)
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/link/setup-and-link.ts
Owners: @TooTallNate

Publish Canary
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @lucleray, @coetry

Publish Stable
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
  packages/redwood/package.json
Owners: @AndyBitz, @styfle, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray, @coetry

[tests] Deprecate "now" npm package in favor of "vercel" (#5119)
  .github/workflows/publish.yml
  utils/publish-legacy.sh
  utils/update-legacy-name.js
Owners: @AndyBitz, @styfle, @TooTallNate

[examples] chore(ionic-angular): remove Google Maps API key (#5130)
  examples/ionic-angular/src/app/pages/map/map.ts
Owners: @mcsdevv, @timothyis

[cli] Fix color and indention in learn more link (#5148)
  packages/now-cli/src/commands/deploy/latest.js
Owners: @TooTallNate

Update `tree-kill` to v1.2.2 (#5151)
  packages/now-cli/package.json
  yarn.lock
Owners: @TooTallNate

[cli] Update `http-proxy` to v1.18.1 (#5152)
  packages/now-cli/package.json
  yarn.lock
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate

[node][next] Fix nft tracing for monorepos (#5143)
  .github/CONTRIBUTING.md
  packages/now-build-utils/src/types.ts
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/templated-launcher-shared.ts
  packages/now-next/src/templated-launcher.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/04-tsx-resolve/tsconfig.json
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz, @Timer, @ijjk, @lucleray

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

[tests] Fix deprecation message (#5157)
  utils/publish-legacy.sh
  utils/update-legacy-name.js
Owners: @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

[tests] Delay deprecation message (#5158)
  utils/publish-legacy.sh
Owners: @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

[examples] Update Ember with missing robots.txt (#5164)
  examples/ember/.gitignore
  examples/ember/public/robots.txt
Owners: @mcsdevv, @timothyis

Publish Stable
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

Remove extra newline in warning (#5165)
  packages/now-cli/src/commands/deploy/latest.js
Owners: @TooTallNate

[docs] Fix typo in error message (#5141)
  errors/now-next-no-serverless-pages-built.md
Owners: @TooTallNate

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @Timer, @ijjk, @lucleray

[tests] Fix test for functions in vercel.json (#5169)
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Owners: @TooTallNate

[next] Fix config `functions` src file (#5168)
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/06-lambda-with-memory/now.json
  packages/now-next/test/fixtures/06-lambda-with-memory/package.json
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/index.js
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/sub/another.ts
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/sub/index.ts
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-next/package.json
Owners: @TooTallNate, @Timer, @ijjk

[next] Optimize page loading for shared lambdas (#5156)
  packages/now-next/src/index.ts
Owners: @Timer, @ijjk

Publish Canary
  packages/now-next/package.json
Owners: @Timer, @ijjk

Bump node-fetch from 2.6.0 to 2.6.1 (#5176)
  package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
  yarn.lock
Owners: @TooTallNate, @styfle, @AndyBitz, @rdev, @lucleray

[node] Use `ts.readConfigFile()` to parse user's `tsconfig.json` file (#5180)
  packages/now-cli/test/dev/fixtures/node-ts-node-target/tsconfig.json
  packages/now-node/src/dev-server.ts
  packages/now-node/tsconfig.json
Owners: @TooTallNate, @styfle, @lucleray

Publish Canary
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @styfle, @AndyBitz, @TooTallNate, @rdev, @lucleray

[tests] Cache token when possible (#5179)
  packages/now-cli/test/dev/integration.js
  packages/now-client/tests/common.ts
  packages/now-node/test/integration.test.js
  test/lib/deployment/now-deploy.js
Owners: @TooTallNate, @rdev, @styfle, @lucleray

[cli] Remove v1 messages and docs (#5183)
  errors/deploy-invalid-dc.md
  errors/missing-dotenv-target.md
  errors/regions-and-scale-at-once.md
  errors/scale-invalid-dc.md
  errors/scale-ls.md
  errors/scaling-path-alias.md
  errors/v2-no-min.md
  errors/verification-timeout.md
  packages/now-cli/src/commands/alias/set.ts
  packages/now-cli/src/commands/certs/issue.ts
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/certs/handle-cert-error.ts
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/output/error.ts
Owners: @TooTallNate, @javivelasco, @mglagola, @anatrajkovska, @styfle, @AndyBitz

[static-build] Fix `immutable` cache header for Vue assets (#5070)
  packages/now-static-build/src/frameworks.ts
Owners: @styfle, @AndyBitz

[next] Fix API page check (#5196)
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/22-ssg-v2/now.json
  packages/now-next/test/fixtures/22-ssg-v2/pages/api-docs/[...slug].js
Owners: @Timer, @ijjk

Publish Canary
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-static-build/package.json
Owners: @TooTallNate, @rdev, @styfle, @Timer, @ijjk, @lucleray, @AndyBitz

[tests] Delay deprecation message (#5210)
  utils/publish-legacy.sh
Owners: @TooTallNate

Publish Canary
  packages/now-cli/package.json
Owners: @TooTallNate
