Repository james424smith/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @styfle, @tootallnate, @dav-is, @sophearak, @mike-engel, @anmonteiro

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

*                       @styfle
/packages/now-node      @styfle @tootallnate
/packages/now-next      @styfle @dav-is
/packages/now-go        @styfle @sophearak
/packages/now-python    @styfle @sophearak
/packages/now-rust      @styfle @mike-engel @anmonteiro

Use GitHub Actions for publishing to npm (#539)
  .circleci/config.yml
  .circleci/publish.sh
  .github/main.workflow
  package.json
Owners: @styfle

Fix servless error page fixes#234 (#541)
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
Owners: @styfle, @dav-is

Enable tests for all (#544)
  README.md
  test/lib/deployment/now-deploy.js
Owners: @styfle

[now-rust] Install rust with rustup & convert now-rust to typescript (#533)
  .eslintignore
  packages/now-build-utils/src/index.ts
  packages/now-rust/.gitignore
  packages/now-rust/index.ts
  packages/now-rust/install-rust.ts
  packages/now-rust/package.json
  packages/now-rust/test/test.js
  packages/now-rust/tsconfig.json
  test/lib/deployment/now-deploy.js
  yarn.lock
Owners: @styfle, @mike-engel, @anmonteiro

[now-next] Define Next.js generated routes (#536)
  packages/now-next/src/index.ts
Owners: @styfle, @dav-is

[now-go] Add support for `go.mod` in different `entrypoint` directory (#540)
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/test/fixtures/10-go-mod/go.mod
  packages/now-go/test/fixtures/10-go-mod/index.go
  packages/now-go/test/fixtures/10-go-mod/now.json
  packages/now-go/test/fixtures/11-go-mod-shared/api/index.go
  packages/now-go/test/fixtures/11-go-mod-shared/go.mod
  packages/now-go/test/fixtures/11-go-mod-shared/now.json
  packages/now-go/test/fixtures/11-go-mod-shared/shared/shared.go
  packages/now-go/test/fixtures/12-go-mod-subs/now.json
  packages/now-go/test/fixtures/12-go-mod-subs/sub-1/go.mod
  packages/now-go/test/fixtures/12-go-mod-subs/sub-1/index.go
  packages/now-go/test/fixtures/12-go-mod-subs/sub-2/go.mod
  packages/now-go/test/fixtures/12-go-mod-subs/sub-2/index.go
  packages/now-go/util/analyze.go
Owners: @styfle, @sophearak

[tests] Only publish to npm from master/canary branch (#546)
  .circleci/config.yml
  .github/main.workflow
Owners: @styfle

[now-python] Disable pip upgrade notice (#547)
  packages/now-python/index.ts
Owners: @styfle, @sophearak

[now-python] Improve error message (#548)
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/01-cowsay/another/index.py
  packages/now-python/test/fixtures/01-cowsay/now.json
Owners: @styfle, @sophearak

[tests] Fix duplicate GH Actions (#551)
  .github/main.workflow
Owners: @styfle

[now-python] Publish from dist directory (#550)
  .eslintignore
  packages/now-python/.gitignore
  packages/now-python/.npmignore
  packages/now-python/package.json
  packages/now-python/src/index.ts
  packages/now-python/tsconfig.json
Owners: @styfle, @sophearak

Fix static-build local development docs link (#556)
  packages/now-static-build/index.js
Owners: @styfle

[now-layer-node] Add node runtime layer (#552)
  .editorconfig
  .eslintignore
  .yarnrc
  packages/now-layer-node/.gitignore
  packages/now-layer-node/package.json
  packages/now-layer-node/src/index.ts
  packages/now-layer-node/src/install-node.ts
  packages/now-layer-node/src/unzip.ts
  packages/now-layer-node/test/test.js
  packages/now-layer-node/tsconfig.json
  packages/now-layer-node/types/promisepipe.ts
  packages/now-layer-node/types/stream-to-promise.ts
  yarn.lock
Owners: @styfle

Add layers for `npm` and `yarn` (#558)
  .eslintignore
  packages/now-layer-node/src/install.ts
  packages/now-layer-node/test/test.js
  packages/now-layer-npm/.gitignore
  packages/now-layer-npm/package.json
  packages/now-layer-npm/src/index.ts
  packages/now-layer-npm/src/install.ts
  packages/now-layer-npm/test/test.js
  packages/now-layer-npm/tsconfig.json
  packages/now-layer-npm/types/promisepipe.ts
  packages/now-layer-yarn/.gitignore
  packages/now-layer-yarn/package.json
  packages/now-layer-yarn/src/index.ts
  packages/now-layer-yarn/src/install.ts
  packages/now-layer-yarn/test/test.js
  packages/now-layer-yarn/tsconfig.json
  packages/now-layer-yarn/types/promisepipe.ts
  yarn.lock
Owners: @styfle

[now-next] Re-add generating of dynamic routes (#559)
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Owners: @styfle, @dav-is

[now-go] Fix subdirectory parse fail (#565)
  packages/now-go/util/analyze.go
Owners: @styfle, @sophearak

Bump handlebars from 4.0.12 to 4.1.2 (#568)
  yarn.lock
Owners: @styfle
